[2014-07-20 10:24] jfoclpf opened #1 "Show number of submitted forms"
In the right bottom corner of the website (visitor statistics), it shall also show the number of unique users who correctly submitted the form!

[2014-08-03 17:17] jfoclpf opened #2 "Calculate virtual speed (using extra data form part 3/3)"
Calculate virtual speed using the extra data form part (3/3)
http://en.wikipedia.org/wiki/Car_costs#Virtual_Speed

1 - Find net income
2 - Find total working hours
3 - Find hourly net salary
4 - Find amount of time spent inside the car / journeys
5 - calculate virtual speed

See attached files for more info

![autocosts-virtual speed-page-001](https://cloud.githubusercontent.com/assets/3984909/379

[2014-08-06 18:02] jfoclpf opened #3 "Organize "business logic", the core function!"
The core function in "business logic" shall be organized to simply become a "black box"!

This method, is according with the circles/structures/hierarchy organization of code and functions!

Later on this will be very useful to obtain data from the main DB for automatic statistical analysis!

[2014-08-27 23:13] #1 closed, assigned to nobody

[2014-08-27 23:15] jfoclpf opened #4 "Download report in pdf format option"
After running the calculator and showing the results, the user shall have the option of downloading the final report in pdf format.

[2014-09-14 10:32] jfoclpf opened #5 "Download PDF report button"
We'd like to have at the end a button (like "Rerun" or "Print") with the option to download the print-out report in PDF. I suppose we might use the already existent function which prints the report, but now we shall print to PDF. We'd like to have the PDF API in our site and less dependant from external sites.

This one shall be good:
http://parall.ax/products/jspdf#

[2014-09-30 18:46] #2 closed, assigned to nobody

[2014-09-30 18:46] #3 closed, assigned to nobody

[2014-09-30 18:46] #4 closed, assigned to nobody

[2014-09-30 18:46] #5 closed, assigned to nobody

[2014-09-30 18:48] jfoclpf opened #6 "Project structure"
![documentation-page-001](https://cloud.githubusercontent.com/assets/3984909/4464241/31b6f7ba-48d2-11e4-9da0-11adb55b0125.jpg)

[2015-06-14 21:12] #6 closed

[2016-01-04 15:30] jfoclpf opened #7 "Time anti-spam threshold"
![capture](https://cloud.githubusercontent.com/assets/3984909/12092946/79eb1914-b300-11e5-97fa-bf3835049db0.PNG)

[2016-01-12 01:26] jfoclpf opened #8 "The average of the averages calculation"
![img_20160112_022437_177](https://cloud.githubusercontent.com/assets/3984909/12252074/30912cb6-b8d4-11e5-9408-0de1d0f38604.jpg)

[2016-03-23 18:25] #8 closed, assigned to nobody

[2016-03-23 18:25] #7 closed, assigned to nobody

[2016-04-11 17:48] jfoclpf opened #9 "Main CSS layout"
![main css - copy 2](https://cloud.githubusercontent.com/assets/3984909/14436725/4e063822-001e-11e6-9090-a3f2f03c83fa.jpg)
![main css - copy](https://cloud.githubusercontent.com/assets/3984909/14436724/4e05cc0c-001e-11e6-9cc3-532fc162f68b.jpg)
![main css](https://cloud.githubusercontent.com/assets/3984909/14436726/4e070432-001e-11e6-8e14-d021c1d0cd1f.jpg)

[2016-04-13 22:45] #9 closed, assigned to nobody

[2017-06-12 14:44] jfoclpf opened #11 "add https and hsts to autocosts.info"
Https is already added to autocosts.info

1- first of all, make sure chrome declares it as a safe site

2- delete all cookies
https://stackoverflow.com/questions/179355/clearing-all-cookies-with-javascript
_ga etc. from Google Analytics

2 - then, make that transition into Google
https://support.google.com/webmasters/answer/6073543?hl=en
https://webmasters.stackexchange.com/questions/68435/moving-

[2017-06-12 14:54] jfoclpf opened #12 "Add chart for alternative transports"
Add google chart for topic
EQUIVALENT TRANSPORT COSTS, CONSIDERING YOU DON'T OWN A CAR

add charts, whose bars have all the same height, that compare costs between public transports and automobile costs

[2017-06-12 14:58] jfoclpf opened #13 "Add url /domains with PHP script"
Write a small script in PHP for /domains,
adapting .htaccess accordingly,
that lists all diferent domains, with different countries
so that you can focus on importanto domains to pay for (renew, and SSL certificates)

Example of table

----------------------------
autocustos.info | pt br   |
---------------------------
etc.

[2017-06-12 15:04] jfoclpf opened #14 "Develop an APP"
You'll use PhoneGap to convert the javascript, HTML, CSS to a smartphone APP
all the app files will be stored in folder /app

you can use the alredy created project in PhoneGap
https://build.phonegap.com/apps/359804/builds

1. In PHP a folder for language files is created.
2. Each language will have only one html file, which is the merge of the three html files of layouts. A for loop in php is don

[2017-06-17 22:34] jfoclpf opened #15 "PHP issue"
Find all php that only starts with <? and replace by <?php

[2017-07-06 11:49] jfoclpf opened #16 "Install alert customized boxes"
http://flwebsites.biz/jAlert/

Change validateform file accordingly
https://github.com/jfoclpf/autocosts/blob/master/js/validateForm.js.php

[2017-07-06 19:54] jfoclpf opened #17 "Implement in the main site Content Security Policy"
https://hacks.mozilla.org/2016/02/implementing-content-security-policy/

[2017-07-06 19:54] #16 closed, assigned to nobody

[2017-07-07 10:26] jfoclpf opened #18 "Split the result table"
The result table is too big, split it in three

[2017-07-16 11:07] jfoclpf opened #19 "Check unix file permissions of the website"
https://serverfault.com/questions/357108/what-permissions-should-my-website-files-folders-have-on-a-linux-webserver/357109#357109

Eve, whose username might be eve, is the only user who maintains contoso.com :

[code]

[2017-07-17 22:50] jfoclpf opened #20 "Financial effort chart issue"
The chart in app for financial effort has a problem with axis that must start with zero

[2017-07-19 21:32] jfoclpf opened #21 "Check on web version the slider issue into DB"
the slider issue into DB
this line it's already in the webversion in js/dbFunctions.js, and slider information shall go into DB also

`objectToDb.form_part3_slide1 = $('#slider1').prop('checked');`

[2017-07-19 21:34] #19 closed, assigned to nobody

[2017-07-19 21:34] #18 closed, assigned to nobody

[2017-07-28 23:33] #20 closed, assigned to nobody

[2017-07-28 23:33] #14 closed, assigned to nobody

[2017-07-30 22:19] jfoclpf opened #22 "Correct the eventual HTML errors of the result tables"
https://validator.w3.org/nu/?doc=http%3A%2F%2Fautocustos.info%2FBR

for example, perhaps with file upload

[2017-08-07 21:17] #15 closed, assigned to nobody

[2017-08-07 21:18] #12 closed, assigned to nobody

[2017-08-16 19:33] #22 closed, assigned to nobody

[2017-08-17 17:45] #13 closed, assigned to nobody

[2017-08-17 17:47] jfoclpf opened #23 "Add logo of Android and link to APP"
https://play.google.com/store/apps/details?id=info.autocosts

[2017-09-02 17:29] jfoclpf opened #24 "Develop a AMP site"
Getting started
https://www.ampproject.org/docs/tutorials/create

https://support.google.com/webmasters/answer/6340290

https://search.google.com/test/amp?id=TKN4pTK2GawOU23ZeUF9jw

[2017-10-26 18:16] #11 closed, assigned to nobody

[2017-10-26 18:16] #23 closed, assigned to nobody

[2017-10-26 18:50] jfoclpf opened #25 "Statistical analysis"
Create a new page with statistical analysis for different countries, with currency converted accordingly.

## Vertical bars chart

It shall show a vertical bar chart, each vertical bar representing a country. Each vertical bar shall be vertically divided by different partial costs. For the charts http://www.chartjs.org/ shall be used.

## Asynchronous script for populating overall costs

This shal

[2017-10-26 18:57] jfoclpf opened #26 "Allow user to define standard units"
Regarding Fuel efficiency, Standard distance and Fuel volume the use may not change the standard units. This standard units should be able to be changed according to user preference, using a dropdown menu. The default unit shall be the unit already on file for each country.
https://autocosts.info/list

![image](https://user-images.githubusercontent.com/3984909/32071671-3ee75794-ba90-11e7-89f7-ef34

[2018-02-17 12:59] jfoclpf opened #30 "Read data from html attributes instead of rendering directly into the JS file"
The JS file Globals.js.hbs is rendered dynamically with handlebars. That is not safe and may cause code injection. The JS file should be fixed and its code should extract the data from html data attributes.
https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes

[2018-02-17 13:01] jfoclpf opened #31 "All console.log instructions on client side shall be removed"
When building on `-l prod` one can have an extra option to remove all console.log from the client/browser side code

https://stackoverflow.com/questions/20092466/can-uglify-js-remove-the-console-log-statements

[2018-02-17 13:02] jfoclpf opened #32 "Implement Node Production best practices: performance and reliability"
https://expressjs.com/en/advanced/best-practice-performance.html

[2018-02-26 21:23] jfoclpf commented on #32
done it
- pm2 process manager used with cluster with load balance
- it reloads if computer reboots
- NODE_ENV variable used
- debug npm package used instead of `console.log` on the server code
- nginx used

[2018-02-26 21:24] #32 closed

[2018-02-26 21:24] jfoclpf commented on #31
done it on the client side with an option on the minification tool

[2018-02-26 21:24] #31 closed

[2018-04-09 18:32] #30 closed

[2018-04-30 21:55] jfoclpf commented on #24
not relevant anymore

[2018-04-30 21:56] #24 closed

[2018-04-30 21:56] jfoclpf commented on #17
Done!

[2018-04-30 21:56] #17 closed

[2018-04-30 21:57] #21 closed

[2018-05-27 13:01] jfoclpf opened #33 "Step 1 | Car acquisition date"
Old input:
![image](https://user-images.githubusercontent.com/3984909/40586183-cec0945e-61be-11e8-87f0-4e49505bef70.png)

New input:
![image](https://user-images.githubusercontent.com/3984909/40586184-d35063b4-61be-11e8-801f-8acce4856901.png)

Since in the new design we do have a field to enter a completed date (DD/MM/AAAA) I changed the input type to "date" instead of having 2 fields for Month an

[2018-05-27 13:08] jfoclpf opened #34 "Step 1 | Vehicle Inspection"
If the field value for "How many times have you taken your car for vehicle inspection?" is 0 the "Average cost per each vehicle inspection" should remain disabled, BUT if it's 1 or more the user should be able to enter the average cost per each vehicle inspection, it means the field shouldn't be disabled anymore. For some reason it's not working. Would you review it please?

[2018-05-27 13:09] jfoclpf opened #35 "Step 2 | Fuel"
The fields change base on options selected ($ / Kms and Yes / No)
Are all the options showing the correct fields. You know the form much better than me of course, would you double check if everything is accurate?

[2018-05-27 13:09] jfoclpf opened #36 "Step 3 | Income"
On the "What's your net income?" currently the user has the option to choose per: year, month, week and hour, and then base on the selection the user gets different fields. I was wondering if it would be possible to make it simpler, like this:

![image](https://user-images.githubusercontent.com/3984909/40586233-f727b89a-61bf-11e8-9cab-43e7dd20fe95.png)

[2018-05-27 13:10] jfoclpf opened #37 "Text issues"
There are some phrases starting with lowercase. like this one "if new, the price you paid...."
![image](https://user-images.githubusercontent.com/3984909/40586242-147f1186-61c0-11e8-8217-187d44a78e3d.png)

I'm not able to fix it using CSS only, would you tell me where can I fix those?

[2018-05-27 13:51] jfoclpf opened #38 "Alignment of "car road""
Hi @mcristaldo

when I do too much zoom out, the road of the car doesn't get aligned.
Could you kindly check?

![image](https://user-images.githubusercontent.com/3984909/40586674-c4b1ec7c-61c5-11e8-9bcf-359ae7fd1391.png)

[2018-05-27 14:13] jfoclpf commented on #34
solved with commits [f7c8d24](https://github.com/jfoclpf/autocosts/commit/4506be822283cd9b35d9f0b26cea68903b5f8561) and [4506be8](https://github.com/jfoclpf/autocosts/commit/6307bb29ae7ea2dd1846e1bbe79058059cb31c7a)

[2018-05-27 14:14] #34 closed

[2018-05-27 14:54] jfoclpf commented on #37
I can fix those.
Can you tell me exactly which phrases shall start with capital?

[2018-05-29 15:09] mcristaldo commented on #37
I'm listing the phrases below:

1.
**Now**
if new, the price you paid for the car
if used, the commercial value the car had when you acquired it
**Should read**
If new, the price you paid for the car
If used, the commercial value the car had when you acquired it

2.
**Now**
if you sell it now, how much would you get?
**Should read:**
If you sell it now, how much would you get?

3.
**Now**
Average

[2018-05-29 15:10] mcristaldo commented on #33
Oh ok gotcha, I will update it so we have month and year only. Thanks

[2018-05-30 19:20] jfoclpf commented on #37
Done it with commit [cb20d96](https://github.com/jfoclpf/autocosts/commit/af7c251932eb0e5fba3185ab9ea196c6ec304e03)

[2018-05-30 19:20] #37 closed

[2018-05-30 19:22] jfoclpf commented on #33
Thank you.
when you do it, don't forget to commit the code here, otherwise it will be lost from the server, when I update the code
Thank you

[2018-05-30 20:28] jfoclpf commented on #35
Checked! Code needed to be changed
af7c251932eb0e5fba3185ab9ea196c6ec304e03

[2018-05-30 20:28] #35 closed

[2018-05-30 20:49] jfoclpf commented on #36
@mcristaldo

I don't clearly understand the question, yes, in principle it should be made like that, exactly as it is already

![image](https://user-images.githubusercontent.com/3984909/40746489-dca0e47c-645a-11e8-8b21-d779b34a44de.png)

but then, according to the user input, other fields should appear, because if you insert the income per month, you need to know how many months per year the user

[2018-05-30 20:51] jfoclpf commented on #36
These are the functions that deal with those "hides and shows". If you keep the ids (#) and structure, everything should render ok

[code]

[2018-05-30 20:57] jfoclpf commented on #38
thanks

João Pimentel Ferreira <http://joaopimentel.eu>

On 29 May 2018 at 17:17, Martín Cristaldo <notifications@github.com> wrote:

[2018-05-31 20:19] jfoclpf commented on #33
Done it with f69d7b5e0dfd664be19674c8c99dcb2f1ef34ffa

[2018-05-31 20:20] #33 closed

[2018-05-31 20:27] #38 closed

[2018-06-06 22:04] mcristaldo commented on #36
Done
It has been updated to be the same as the current site.
`https://github.com/jfoclpf/autocosts/tree/a1bf638a627018cd51ef58982a85638b7cf64cc7`

[2018-06-17 20:43] #36 closed

[2018-06-17 20:59] jfoclpf opened #39 "It needs a favicon"
@mcristaldo can you create a favicon? Something simple and quick
Thanks

[2018-06-18 16:51] jfoclpf opened #40 "Transitions in the form amongst sections"
1. The "Next" button shouldn't be seen until the user complete the field/s needed
Not completed field
https://www.dropbox.com/s/yi8dwh6dakp48dn/Captura%20de%20pantalla%202018-06-12%2015.08.59.png?dl=0
Field completed ("Next" button appears)
https://www.dropbox.com/s/4ozpkybm5a0ugzc/Captura%20de%20pantalla%202018-06-12%2015.08.43.png?dl=0--

2. Once the field/s are completed, the user would be able

[2018-06-18 16:52] jfoclpf commented on #40
@mcristaldo

should the fields not yet filled be visible? I mean, the fields at the end of the form should be visible right from the beginning? Or do you mean, that the next field is only visible when user presses Next?

[2018-06-18 17:18] jfoclpf commented on #40
@mcristaldo
What do you have in mind, when for example, the user in the month field, which can be only an integer of 1 to 12, puts 1.5?

- The next button doesn't appear
- The next button appear and as it is pressed an alert appears with an error?

What do you think it's better?

[2018-06-18 17:19] jfoclpf commented on #40
according to @mcristaldo it shoud work like this
- The only visible field/s are the one related to the step (it could be one or more fields though), it means the one/s the user is completing
- The user needs to complete the field before and click on Next to see the next question
- The user can go back to the previous question already answered by scrolling up

[2018-06-18 17:23] jfoclpf commented on #40
My question is, what do you mean by "complete de field"?

It is "complete correctly" or just insert some data?

It should be nice to avoid alerts. What about a faded out button, before it's correctly filled?

[2018-06-18 17:37] mcristaldo commented on #40
I think we can prevent it by letting the user only enter the info we want. So for example for the month  they should be able to enter a number from 1 to 12 only in their keyboard/phone.
If they type 1 and then they try to type a #4 to enter 14, it just won't work, is there a way to do that?
Although it would be nice to list all the months by name :/

[2018-06-18 19:44] jfoclpf commented on #40
Yes, i like that idea. We should avoid using alerts. Yes, it is possible to
avoid the insertion of data that we don't want.

We can't use the months names because it would need a huge amount of new
strings for the several languages :)

On Mon, 18 Jun 2018, 19:37 Martín Cristaldo, <notifications@github.com>
wrote:

[2018-07-11 18:36] jfoclpf commented on #39
@mcristaldo can you kindly put here the favicon, therefore I know where to find it :) ?
Thkx

[2018-07-13 19:06] jfoclpf commented on #39
![favicon](https://user-images.githubusercontent.com/3984909/42709381-a61a539a-86e0-11e8-8ddb-63c661287bf3.png)

[2018-07-13 19:06] #39 closed

[2018-07-13 19:07] jfoclpf commented on #39
solved with commit 6bfb0e3ad797ef4eded40a4c5361cf9114bfc02c

[2018-07-13 19:17] jfoclpf opened #41 "Red icon class for icon list"
@mcristaldo

Please, create a class, or a combination of classes, for "wrong" icon, that is, when that input has wrong values. Something redish

![image](https://user-images.githubusercontent.com/3984909/42709787-fdef2a90-86e1-11e8-99ba-621a5f770475.png)

[2018-07-13 19:21] jfoclpf opened #42 "Steps fixed has a bug"
@mcristaldo

The steps fixed issue, has a small bug. On a certain width of the window, they overlap with the form

![image](https://user-images.githubusercontent.com/3984909/42709994-9cf879de-86e2-11e8-9c53-b8354872db34.png)

[2018-07-13 19:24] jfoclpf opened #43 "User input verification on particular number field"
@mcristaldo said

![autocosts_fields](https://user-images.githubusercontent.com/3984909/42710181-42979e38-86e3-11e8-8deb-eb754d11c6e7.gif)

[2018-07-13 19:32] jfoclpf commented on #43
@mcristaldo
what do you think about this class "wrong", and add to the input when the input is wrong

[code]

[2018-07-14 13:11] jfoclpf commented on #43
@mcristaldo

what do you think about this

![image](https://user-images.githubusercontent.com/3984909/42724735-280188fa-8778-11e8-8d5c-430f00829970.png)

[2018-07-14 21:41] jfoclpf opened #44 "Bug on fuel section"
On fuel section -> miles -> no ; in the last user input field

![image](https://user-images.githubusercontent.com/3984909/42728652-6af6ad10-87bf-11e8-9a09-2bcd90817b01.png)

I think it has to do with `padding-left`

[2018-07-16 10:21] jfoclpf commented on #41
solved

[2018-07-16 10:21] #41 closed

[2018-07-18 18:37] mcristaldo commented on #43
Hi Joao,
It seems it got lost but actually I sent this to you by email
![error_message](https://user-images.githubusercontent.com/11855774/42900839-5054f492-8aa0-11e8-979e-3bc0136b0963.png)
Did you add that "wrong" class in the style.css file? I can adjust to fit the design I did if you want

[2018-07-18 19:00] mcristaldo commented on #43
Don't you think that it can be only in english at least?

In the steps I would do the the text red too, not only the dot. I can adjust it though

[2018-07-18 20:11] jfoclpf commented on #43
Yes, it would be possible to add text in all languages, but we have to arrange something considering the available strings

[code]

yes, please. But please, commit also here in github, and review your changes to be sure that you just amend what you expect

[2018-07-19 01:22] mcristaldo commented on #43
Hi Joao, I think the "wrong" class is not taking place in the right place, the class appears in the next field and not in the the that actually has an error.
Please check the image attached
![captura de pantalla 2018-07-18 22 24 17](https://user-images.githubusercontent.com/11855774/42915852-a6d7ef4e-8ad8-11e8-8c84-580ebb3b8600.png)

The error should be on "Depreciation of the vehicle" and not on

[2018-07-19 08:48] jfoclpf commented on #43
Ah, I see what you mean. No, it's correct, but it's not fully clear

1. You are editing the "Depreciation", therefore you see round blue, which means "you're there" whether it's correct or wrong

2. Vehicle insurance is "red" because you went there, and you didn't fill anything, therefore is empty and thus is wrong.

Maybe it should be more clear.

[2018-07-19 16:03] mcristaldo commented on #43
Oh I see, yeah it's confusing.
I think the step should be red even if you're editing the question, otherwise the user might think the issue was solved

[2018-07-19 18:59] jfoclpf commented on #43
Hi Martin
I used your css. Thanks

1. I solved the issue of the confusing icons as you suggested

2. I added error message under the number input as you suggested. I had to stick with English. I will see later.

Can you check now and say what you think?
https://autocosts.work/US

[2018-07-19 20:10] jfoclpf commented on #44
Hi Martin
It was not working your class. I had to put `!important` It was making conflict with other class
`.unit_gallon_left {padding-left: 95px !important}`
Is that normal?

[2018-07-19 20:11] jfoclpf commented on #42
solved
Thanks @mcristaldo

[2018-07-19 20:11] #42 closed

[2018-07-19 20:17] mcristaldo commented on #43
Now I can see the red dot everytime I got to the next question. The red dot (worng class) has to appear only if:
1. The user entered invalid info/value
2. The user didn't complete the question and goes to the next one somehow
Otherwise we should't show it imo.

See attached GIF please
![error_issue](https://user-images.githubusercontent.com/11855774/42967678-692b49f8-8b77-11e8-9f78-276a15e7e001.gi

[2018-07-19 20:24] mcristaldo opened #45 "#2 and #3 circles active mode"
Once the user reaches to step 2 or 3 the big circle with the number should in active mode as the #1 circle
The class is already created, the big circles (#2, #3) need the "active" class once the user get there only

[2018-07-19 20:51] mcristaldo commented on #44
Oh good catch, yes that's ok, I didn't realize about it. Thanks

El jue., 19 jul. 2018 a las 17:10, João Pimentel Ferreira (<
notifications@github.com>) escribió:

--
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Behance: mcristaldo <https://www.behance.net/mcristaldo>
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https:

[2018-07-22 16:03] jfoclpf commented on #45
Hi @mcristaldo I was improving here several functions
can you test now and tell me what do you think?
https://autocosts.work/

[2018-07-22 16:03] jfoclpf commented on #43
Hi @mcristaldo I was improving here several functions
can you test now and tell me what do you think?
https://autocosts.work/

[2018-07-25 06:54] jfoclpf commented on #45
is it solved?

João Pimentel Ferreira <http://joaopimentel.eu>

On Thu, 19 Jul 2018 at 22:24, Martín Cristaldo <notifications@github.com>
wrote:

[2018-07-25 06:54] jfoclpf commented on #43
is it solved Martin?

João Pimentel Ferreira <http://joaopimentel.eu>

On Thu, 19 Jul 2018 at 22:17, Martín Cristaldo <notifications@github.com>
wrote:

[2018-07-25 20:27] mcristaldo opened #46 "Home page loading issue"
When the page is loading I can see both sidebars opened before the home loads, it doesn't looks good.
Screenshot: https://www.dropbox.com/s/6vdq08b5v4io4zd/loading_issue.gif?dl=0

[2018-07-25 20:39] mcristaldo commented on #45
Perfect, it's solved.

[2018-07-25 20:40] #45 closed

[2018-07-25 20:46] mcristaldo opened #47 "Home text translation"
When you select a country on the home page, the titile "Automobile costs calculator" change depending on the language, but the text below it remains in english always.
I know it would need a lot of new strings for every language, so in that case I think the title should be in english always so we're consistent, otherwise it looks a bit weird seeing the title in the language/country selected but th

[2018-07-25 20:54] mcristaldo opened #48 "Year error message"
On the first field MM/YYYY, the error message displayed is "Enter a value between 1910 and 3000", shouldn't it be between "1910 and current year"?
![captura de pantalla 2018-07-25 17 58 16](https://user-images.githubusercontent.com/11855774/43226984-c88be59a-9033-11e8-93af-85e94db6aece.png)

[2018-07-25 21:04] mcristaldo opened #49 "Error messages"
I know it might be too much effort but just asking. Is it possible to have more accurate error messages?
On this one for example:
![captura de pantalla 2018-07-25 18 03 10](https://user-images.githubusercontent.com/11855774/43227192-5ef9a7d8-9034-11e8-9200-c82b8cf6bd2b.png)
On this one it wouldn't makes sense if the user enter 0. So I'm wondering if the message could be something like: "Please ent

[2018-07-25 21:10] mcristaldo opened #50 "Next button animation"
The animation/effect when the Next button appears is a bit weird. Is it possible to remove it? so the button appears just instantly with no effect?

Thanks.

[2018-07-25 21:12] mcristaldo opened #51 "Error on steps"
Make the step name red too
![captura de pantalla 2018-07-25 18 17 17](https://user-images.githubusercontent.com/11855774/43227837-4c796326-9036-11e8-822f-792e94c242c7.png)

[2018-07-25 21:17] mcristaldo opened #52 "Vertical center the question that the user is on"
Once a  question is completed and I click Next, the next question should be vertical centered. Now the question on focus appears too far at the bottom
![captura de pantalla 2018-07-25 18 22 43](https://user-images.githubusercontent.com/11855774/43228091-0250934a-9037-11e8-846c-a62a68941ff2.png)

[2018-07-25 21:19] mcristaldo opened #53 "Margin on Step 2, question 1"
Remove left margin on this question:
![captura de pantalla 2018-07-25 18 24 31](https://user-images.githubusercontent.com/11855774/43228182-3dfc3ce6-9037-11e8-8b61-7897e44ea34c.png)

[2018-07-25 21:23] mcristaldo opened #54 "Transition between tabs"
When changing from one tab to other the animation on the fields below the tabs is too distracting, I don't think we need it.
Would it be possible to remove it?
![tabs-effect](https://user-images.githubusercontent.com/11855774/43228387-c2dce83e-9037-11e8-9dcf-c3365b2504df.gif)

Thank you.

[2018-07-25 21:25] mcristaldo opened #55 ""Calculate car cost" button on form"
The button appears after completing the entire form. Since the step 3 is optional, shouldn't it come up once the user completes step 1 and 2 only?

[2018-07-25 21:32] mcristaldo opened #56 "Sidebar open and close issues"
1. When the opening the sidebars it has a weird effect, like if everything came up from the side that doesn't looks good. I wasn't able to fix it. Are you able to fix it?
2. The only way to close it is by clicking on X icon. It would be nice if the user could close it by clicking outside the sidebar
![sidebar-opening-effect](https://user-images.githubusercontent.com/11855774/43228817-0bec4212-9039

[2018-07-26 18:59] jfoclpf commented on #46
solved with c013ca39d0e4f15f0a8b2a70d0e8d322c4f16219

[2018-07-27 16:48] mcristaldo commented on #46
There is a text below the button that appears for a second when the page is loading "Your car cost per year"
![home-loading-issue](https://user-images.githubusercontent.com/11855774/43334412-c5f0a426-91a3-11e8-8576-43df998215cf.gif)

[2018-07-28 12:32] jfoclpf commented on #56
Martin, I think I solved these issues 1) and 2) with  9d2133a4f0c3e89ef78874b7007ece69e6d4cb14

can you kindly confirm? https://autocosts.work/US

please, you are responsible to close the issues when you think is UX/UI ok :)

[2018-07-28 12:38] jfoclpf commented on #54
what would be better in your opinion?

- hide and show the elements immediately, or
- smoothly fadeIn/fadeOut (no animation)

[2018-07-29 18:32] jfoclpf commented on #46
solved with 020e961e796a7d638098d4ee55976e95958b33dc

[2018-07-29 19:36] jfoclpf commented on #53
solved with e46b2f26b64a272528de2889326bb538750bc1a0

updated to autocosts.work

[2018-07-29 21:10] jfoclpf commented on #51
solved with d0f15d5e38fadec2251c5b999116a87c325636fb

[2018-07-29 21:20] jfoclpf commented on #50
solved with aba1bc3f2a0facfb4b63d068d739fbb111c44d82

[2018-07-30 16:11] jfoclpf commented on #48
solved with b66cf0fb287956031d1ac47c8c1bf6db97f98833

[2018-07-30 16:15] jfoclpf commented on #47
Hi @mcristaldo I prefer to let like it is now, since I will get further translation strings in the near future. We need to fully finish the site first, and then I assemble all the further needed strings to request for translators. But for now we finish the site, to evaluate _all_ the further needed strings. Then for Spanish we have you already and for other languages I will assemble translators ac

[2018-07-30 16:15] #47 closed

[2018-07-30 19:55] jfoclpf commented on #52
solved with e9123c2dfbd06e09b2f91093d174b1039847d04a

[2018-07-30 22:05] #46 closed

[2018-07-30 22:07] #56 closed

[2018-07-30 22:13] mcristaldo commented on #54
I would go with "a", hide/show the elements immediately, no animation at all in any of the tabs through the form.
As simple as this one: https://codepen.io/oknoblich/pen/tfjFl

What do you think?

[2018-07-30 22:14] mcristaldo commented on #53
I assigned this one to myself ha. But awesome, it looks great. Thanks

[2018-07-30 22:14] #53 closed

[2018-07-30 22:15] mcristaldo commented on #52
Looks great Joao!

[2018-07-30 22:15] #52 closed

[2018-07-30 22:16] mcristaldo commented on #51
Perfect

[2018-07-30 22:16] #51 closed

[2018-07-30 22:17] mcristaldo commented on #50
Perfect again

[2018-07-30 22:17] #50 closed

[2018-07-30 22:17] #48 closed

[2018-08-02 17:53] jfoclpf commented on #54
I find it ok with solution "a". I will do it right now

[2018-08-02 17:57] jfoclpf commented on #54
solved with 004b219e97e85c1cb7e38a0b4cf320fa55954fe7

It's already online @mcristaldo
What do you think?

[2018-08-02 18:06] jfoclpf commented on #49
Hi Martin, thanks for the suggestion, all effort is welcoming as long it is to improve the calculator.

All the inputs except the date, the first two ones (month and year),
have a `min=0` and and no `max`.

Do you mean having that message in red, under the field, on every input?

[2018-08-02 18:07] jfoclpf commented on #43
@mcristaldo is this issue solved?

[2018-08-02 18:08] #40 closed

[2018-08-02 19:15] mcristaldo commented on #54
Hi Joao, there are some tabs with animation still. Like this one:
![tabs-animation](https://user-images.githubusercontent.com/11855774/43605599-3a819c58-966f-11e8-90f5-77b580a94db1.gif)

[2018-08-02 19:21] mcristaldo opened #57 "Step 2 and 3 titles animation"
When the title of the step 2 and 3 come up, it has a weird animation, like entering by it self from bottom to top. It should appears together with the next question, just scrolling and fading from the bottom, like the other questions do.
_It might be hard to see it in the GIFs I attached, in that case please check out the site online._
![effect-big-title-step](https://user-images.githubusercontent

[2018-08-02 19:25] mcristaldo commented on #49
No no, the message in red should be visible only if there is an error while completing the form OR if they didn't complete a field somehow. I think it's fine now, we can close this issue

[2018-08-02 19:25] #49 closed

[2018-08-02 19:26] mcristaldo commented on #43
Solved

[2018-08-02 19:26] #43 closed

[2018-08-02 20:10] jfoclpf commented on #54
solved with 46025650b135768ac04a37dc3cdb8a0899ddb0f9
Can you test now?

[2018-08-02 20:16] jfoclpf commented on #57
solved with f433751bcb11e6b288a16ba05e83fe04b6f68b0a

[2018-08-02 20:17] jfoclpf commented on #57
can you test now?

[2018-08-02 20:21] #57 closed, assigned to jfoclpf

[2018-08-02 20:25] mcristaldo commented on #54
The one you fixed is perfect, but these guys still have the animation:
![tabs-effect-2](https://user-images.githubusercontent.com/11855774/43608928-ee275776-9678-11e8-8638-e56aa876a492.gif)
![tabs-effect-3](https://user-images.githubusercontent.com/11855774/43608929-ee4d3676-9678-11e8-984c-0596ceaa0241.gif)

Thanks.

[2018-08-02 20:39] jfoclpf commented on #54
well catched. I will solve now

[2018-08-02 20:57] jfoclpf commented on #54
Solved, I think, with 3b44f0f60178c5f7ace0c33c4f09e5f8787a456e
can you test now?

[2018-08-02 20:59] mcristaldo commented on #54
Great, solved

[2018-08-02 20:59] #54 closed

[2018-08-02 20:59] jfoclpf opened #58 "HTML validation error"
The HTML W3 validator is giving error

`<input type="number" pattern="\d*" min="0" step="Any" name="borrowedAmount"↩                                            id="borrowedAmount" class="currencyInput unit_left"/> `

Already made a question on SO
https://stackoverflow.com/questions/51660812/best-way-for-html-input-type-number-with-numbers-keypad-on-both-android-and-ios

[2018-08-05 15:00] jfoclpf commented on #55
solved with 8dcb0455bdfa08de00dcf53c7415ddfbc53c340b

[2018-08-05 21:00] #55 closed

[2018-08-08 20:43] jfoclpf commented on #58
solved with c0b56b56a6115071c1f6b284135168a12f960ebf

[2018-08-08 20:43] #58 closed

[2018-08-12 16:37] jfoclpf opened #59 "Change release from "work" to "dev""
In options in `build.js` and `index.js` change developing release from "work" to "dev"
Change also `read.me` file

[code]

[code]

[2018-08-13 14:12] jfoclpf opened #60 "Car riding on the main page"
Hi @mcristaldo

1) When we zoom out, the road is not aligned horizontally, which is a bit strange

2) The car doesn't drive fully from the left to the far right

![image](https://user-images.githubusercontent.com/3984909/44036990-85a0cf68-9f13-11e8-8640-d2d4437c0509.png)

Do you think you can solve these two issues?

[2018-08-18 09:39] rkantos opened #61 "First page scrolling on low resolutions"
Why does the first page of the form have to always scroll up? It is impossible to click the next button without either going full screen or zooming out the page with 1366x768 resolution.

[2018-08-18 15:10] jfoclpf commented on #61
It scrolls to try to focus the user's attention to the form

You can undo this by commenting the content of function `scrollPage` in `documentFunctions.js`, [here](https://github.com/jfoclpf/autocosts/blob/master/src/client/documentFunctions.js#L398).

[code]

I don't understand the "fullscreen" issue, but all the function which deal with the page as a whole are in `src/client/documentFunctions.js

[2018-08-18 19:23] jfoclpf opened #62 "File img/dd_arrow-white.png is missing"
On css file `results.css` there is this line

`#info-boxes .container .info-box select {background: url('../img/dd_arrow-white.png'); color: white; border-color: white; font-size: 22px; text-transform: lowercase;}`

Though file `../img/dd_arrow-white.png` is missing

Please @mcristaldo add file `dd_arrow-white.png` to `src/img` directory

Thank you

[2018-09-15 20:29] jfoclpf commented on #62
@mcristaldo , file `results.css` has this line

`#info-boxes .container .info-box select {background: url('../img/dd_arrow-white.png'); color: white; border-color: white; font-size: 22px; text-transform: lowercase;}`

But file `img/dd_arrow-white.png ` is not there

![screenshot from 2018-09-15 22-26-49](https://user-images.githubusercontent.com/3984909/45590348-b45a7600-b936-11e8-8fb2-058acfa3ccc

[2018-09-20 11:57] mcristaldo opened #63 "Remove outline of dropdown in the home page"
Screenshot: https://www.dropbox.com/s/n3yzldmnca62lfs/Captura%20de%20pantalla%202018-09-20%2008.56.17.png?dl=0

[2018-09-20 12:23] mcristaldo opened #64 "More space on home page text"
Screenshot: https://www.dropbox.com/s/n9rcjbqduancdj5/Captura%20de%20pantalla%202018-09-20%2009.24.06.png?dl=0

More line-height for this text

[2018-09-20 12:27] mcristaldo opened #65 "Reading issues on costs sidebar"
Screenshot: https://www.dropbox.com/s/ute59soft7ncxm3/Captura%20de%20pantalla%202018-09-20%2009.25.40.png?dl=0

Since everything is tight to fit all the information in the screen, it's hard to scan the information, so I might add some lines to connect the text with the number to make the thing a bit more clear when reading

[2018-09-20 12:34] mcristaldo opened #66 "Calculate button hide the last step"
Screenshot:
![captura de pantalla 2018-09-20 09 33 39](https://user-images.githubusercontent.com/11855774/45818493-473d3c80-bcb8-11e8-9655-7303d0d168f5.png)

Once the bottom bar with the Calculate car cost button appears, the very last steps get hidden

[2018-09-20 18:20] jfoclpf opened #67 "too many arrows"
![screenshot from 2018-09-20 20-19-04](https://user-images.githubusercontent.com/3984909/45838646-88623a80-bd12-11e8-8393-c49a2216ec5f.png)

@mcristaldo , I added the arrow jpg / png file file but too many arrows appear

[2018-09-21 19:41] jfoclpf commented on #67
Hi Martin

As any professional website/node project, we have two main root folders `/src` and `/bin`.
When the project is built, the files from `/src` are processed to produce the `/bin`. Basically the build process minifies and merges some files, to be available online.

* In github you only see the files in `/src`, and
* in `/bin` you would see the online/.work

When the site is built from `/src

[2018-09-21 19:49] jfoclpf commented on #67
Hi Martin

Never mind :)

To ease your tests, I reverted the built issues, and you can edit the css files directly in .work and see the results directly online. Check the commit 26b6cccf549101b0b1c7258f9221be4013fb3632 and you'll understand. Any issues let me know

Cheers and thank you

[2018-09-21 20:36] mcristaldo commented on #67
Fixed
Screenshot: https://www.dropbox.com/s/qffqxqju1d68s8c/Captura%20de%20pantalla%202018-09-21%2017.37.17.png?dl=0

[2018-09-21 20:36] #67 closed

[2018-09-21 20:48] mcristaldo commented on #66
Fixed
- Removed white background behind the button so the very last step is always visible
- Made the button a bit narrower

[2018-09-21 20:48] #66 closed

[2018-09-21 20:50] mcristaldo commented on #64
Fixed by adding this property in the style.css:
line-height: 45px;

[2018-09-21 20:50] #64 closed

[2018-09-21 20:55] mcristaldo commented on #63
Fixed

[2018-09-21 20:55] #63 closed

[2018-09-21 20:56] mcristaldo commented on #62
Issue fixed. Closing issue

[2018-09-21 20:56] #62 closed

[2018-09-25 15:07] mcristaldo commented on #60
Issue solved.
Please check it out here https://autocosts.work/

Thanks

[2018-09-25 20:41] jfoclpf commented on #60
It works nice now
It's nice two cars, it gives a notion of traffic.
The road is flat and smooth!
Thanks

[2018-09-25 20:41] #60 closed

[2018-09-25 20:44] jfoclpf commented on #65
cool! The applicable file is this one: https://github.com/jfoclpf/autocosts/blob/newUI/src/views/partials/sidebars.hbs

I suppose you need the class `sidebar-right-container`

Any issues let me know

[2018-09-25 20:54] jfoclpf opened #68 "Introduce charts on result page"
I need now to introduce the charts on the results page, according to what I agreed with @mcristaldo using inVision

![screenshot from 2018-09-25 22-50-49](https://user-images.githubusercontent.com/3984909/46042404-91d61300-c115-11e8-9dc0-020584116db2.png)

![screenshot from 2018-09-25 22-51-05](https://user-images.githubusercontent.com/3984909/46042412-97335d80-c115-11e8-9531-fa68a50c7155.png)

![

[2018-09-26 07:15] jfoclpf opened #69 "Washing and cleaning with no colour"
@mcristaldo

washing and cleaning have no colour on results page

![image](https://user-images.githubusercontent.com/3984909/46063243-83671600-c16c-11e8-9891-45c138c7e25f.png)

[2018-09-26 11:42] jfoclpf commented on #68
Bar charts were introduced and they are online at .work, but all the bars are sticked together.
They should be grouped into two groups, as presented by the first above image, provided by @mcristaldo
Here's a tip: https://stackoverflow.com/questions/28180871/grouped-bar-charts-in-chart-js#

[2018-09-26 15:41] mcristaldo commented on #60
Yeah, that's true it gives a notion of traffic, which is cool. I didn't realize about it before.
Thanks

[2018-09-26 15:47] mcristaldo commented on #69
Solved

[2018-09-26 15:47] #69 closed

[2018-09-26 16:16] mcristaldo commented on #65
Solved, please check it out

![captura de pantalla 2018-09-26 13 17 24](https://user-images.githubusercontent.com/11855774/46093679-59265000-c18e-11e8-9cdf-19b409016fd7.png)

[2018-09-26 16:16] #65 closed

[2018-09-26 16:19] jfoclpf commented on #61
@rkantos
is your issue solved?

[2018-09-26 17:27] rkantos commented on #61
Sure, originally I just thought it shouldn’t scroll on the https://autocosts.info/ -website! Another way to avoid it on lower resolutions could be to disable it if the resolution is lower, or change the layout completely.

Thanks

[2018-09-26 19:44] jfoclpf commented on #65
Perfect! Thanks a lot, it's very nice!

[2018-09-26 19:46] jfoclpf commented on #61
Thanks @rkantos
Just a curiosity, are you using this code on any particular project? As you know this is freeware, so you may use it freely. Just a curiosity!

[2018-09-26 20:05] rkantos commented on #61
No, I just used the website, and thought this would be the apporiate support channel for such an issue :)

Mainly I am just using it to compare car costs between gasoline and electric cars. I’ve been trying to find a calculator that would have consumption numbers of cars for easy comparison.. There have been a couple, but they’ve since disappeared. :/

[2018-10-09 09:13] jfoclpf opened #70 "href="#" in buttons"
Hi @mcristaldo

When we insert `href="#"` in buttons this happens in the browser, affecting the ISO 2-letter country code.

![image](https://user-images.githubusercontent.com/3984909/46658604-67736380-cbb3-11e8-84ee-2a29b185fef3.png)

I suppose you made that, so that the pointer would hover over the button.

To have the same effect I added the class `cursor_pointer` at `styles.css`:

`.cursor_poin

[2018-10-09 20:11] jfoclpf opened #71 "HTML errors"
Solve these [issues](https://validator.w3.org/nu/?doc=http%3A%2F%2Fautocosts.work%2FUS).

Particularly this one:
`Element h5 not allowed as child of element button in this context. (Suppressing further errors from this subtree.)`

which is the most common and coming from `results.hbs`, [here](https://github.com/jfoclpf/autocosts/blob/newUI/src/views/partials/results.hbs#L93).

[code]

Replacing `b

[2018-10-09 20:52] mcristaldo commented on #71
Solved, please check it out.

Thank you

[2018-10-09 22:03] jfoclpf commented on #71
Thank you

Solved with cc741d66371ae1e75d7784b95d1a65be9a599d67, 2dce9a74e79b12ac356d54ec8a2060a813c960e5, 2799b95be7207f9467e0840322b27e35273de141, 9f32e3ed03aff5102f2a02fbd1c89225f9c276d5 and b482d4659476d1512e2afdc003c2350d05fea2f0

[2018-10-09 22:03] #71 closed

[2018-10-10 09:05] jfoclpf commented on #70
The debate goes [here](https://github.com/jfoclpf/autocosts/commit/a0b4e41b8523f16d3be3e1bd081f61a664cd65cb).

[2018-10-15 13:39] #68 closed

[2018-10-15 15:14] jfoclpf commented on #70
Hi @mcristaldo

Since having html elements `a` without `href` is not a good practise, I changed all these buttons to html elements `span`. I edited the css files accordingly.

Check all these differences on the commit 9840fec636ba1b133a91272433ddd2db4d20b402

[2018-10-15 15:14] #70 closed

[2018-10-19 19:41] jfoclpf opened #72 "insert new text in language files"
Insert new properties of global variable `WORDS` for different languages.

When such property is not available for the current language, use the English version

[2018-10-19 19:51] jfoclpf opened #73 "New chart on results"
Hi @mcristaldo

I know it should have been though during the design phase, but we miss a relevant chart on the first section (monthly costs), which is like a pie chart, showing the percentage of each cost item in terms of overall costs, like we had on the previous version.

This gives the user a very good idea, of what are the major costs in terms **of percentage**.

This is what we had, though no

[2018-10-19 20:00] jfoclpf opened #74 "CSS for /stats page"
Hi @mcristaldo

Adopting the same design style of the calculator, could you kindly write the CSS rules for the overall statistical page?

http://autocosts.work/stats

The html/hbs page is at [`src/views/stats.hbs`](https://github.com/jfoclpf/autocosts/blob/newUI/src/views/stats.hbs) and the CSS file is at [`css/worldStats/main.css`](https://github.com/jfoclpf/autocosts/blob/newUI/src/css/worldStat

[2018-10-19 20:49] mcristaldo commented on #73
Hi @jfoclpf
Oh sure, we can add this. Let me re-look at the results designs page to see where and how we can fit this pie chart and I'll back to you.

Thanks

[2018-10-19 20:50] jfoclpf opened #75 "replace pinterest share button by whatsApp"
WhatsApp is a more relevant share media than pinterest.

Please replace button and classes accordingly

![image](https://user-images.githubusercontent.com/3984909/47243092-4a2f6800-d3f1-11e8-8c96-58f7c9895008.png)

Thank you

[2018-10-20 08:06] jfoclpf commented on #73
Thanks Martin
It doesn't need to be a pie, it may be a doughnut
http://www.chartjs.org/samples/latest/charts/doughnut.html

João Pimentel Ferreira <http://joaopimentel.eu>

On Fri, 19 Oct 2018 at 22:49, Martín Cristaldo <notifications@github.com>
wrote:

[2018-10-20 20:33] jfoclpf opened #76 "Add new npm packages to project"
JS file added by @mcristaldo has npm entry
https://www.npmjs.com/package/jquery-sidebar

also jquery-color
https://www.npmjs.com/package/jquery-color

[2018-10-20 20:54] jfoclpf opened #77 "Uniformize colors variables"
The costs colors come from different places and variables.
Uniformize origin of said colors, such that all that info comes from the same place, preferably `commons.js`

[2018-10-20 20:56] jfoclpf commented on #77
or maybe create a seperate css file `colors.css`

[2018-10-21 17:40] jfoclpf commented on #77
@mcristaldo can you create a separate file `colors.css`, only for the colors of each cost item?

[Just this information](https://github.com/jfoclpf/autocosts/blob/newUI/src/css/results.css#L52).

[2018-10-21 18:42] jfoclpf opened #78 "Change terminology in CSS classes"
Hi @mcristaldo

I changed the name of color classes, due to harmonisation of terms, throughout the project.

The cost items' terminology should be, for programmatic purposes:

[code]

You can check these differences in the corresponding commit: b6a15e8c3bba42193f31eff69d9279664eaaa417

[2018-10-21 18:42] jfoclpf commented on #78
When you have read this message, you may close the issue

[2018-10-21 18:54] mcristaldo commented on #78
Perfect! Closing issue

[2018-10-21 18:54] #78 closed

[2018-10-21 19:00] mcristaldo commented on #77
Oh I saw that you already created colors.css

[2018-10-21 19:09] jfoclpf commented on #77
yes, apologies for the anticipation. Solved with this commit: 37feec86d1655a0c8da30a5e676fd83a71437d43

[2018-10-21 19:09] #77 closed

[2018-10-22 10:04] jfoclpf commented on #73
Perfect @mcristaldo

Can you change the `results.css` and the `results.hbs` accordingly, such that I can insert the graph therein?

Thank you

[2018-10-22 10:09] jfoclpf commented on #73
I like it very much @mcristaldo
I like the proportion in widths, but considering the vertical axis on the bar chart, wouldn't be better to swap their positions, and put the bar chart on the left side? What do you think?

[2018-10-22 12:09] jfoclpf opened #79 "Solve some HTML warnings"
Hi @mcristaldo , I know I'm being picky, but can you solve HTML these warnings?
https://validator.w3.org/nu/?doc=http%3A%2F%2Fautocosts.work%2FBR

I could give a try, but I don't want to touch `h1-h6` headings since you created them
Thank you

[2018-10-22 12:23] #76 closed

[2018-10-22 12:24] jfoclpf commented on #76
solved with 3715b524911ff052bc489858467d53423cb8f2b2

jquery-color not added, because npm package seems to be outdated

[2018-10-22 19:08] mcristaldo commented on #73
Hi @jfoclpf,
Good idea, it looks more balanced with the doughnut on the left instead.
Please check it out: https://www.dropbox.com/s/li538oaredxio3o/ac_results-v2-op2.jpg?dl=0

[2018-10-22 19:20] jfoclpf opened #80 "remove a href on mobile version"
Hi @mcristaldo

On the mobile version, inside `.right-actions-mobile`, you use some [ARIA](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA) elements, to toggle the social media buttons

Here:
https://github.com/jfoclpf/autocosts/blob/newUI/src/views/partials/bottom_actions_bar.hbs#L77

Can you do the same without `href` attributes, because it is messing with the URL?

![image](http

[2018-10-23 12:43] jfoclpf commented on #73
Looks great @mcristaldo , thank you. You may advance. Can you change the `results.css` and the `results.hbs` accordingly, such that I can insert the graph therein?

[2018-10-23 19:18] mcristaldo commented on #73
Sure thing, I'll update the files and commit it once it's done

[2018-10-24 12:02] jfoclpf opened #82 "Transfer node packages to dev"
There are many packages in `package.json` that just apply to development and not in production.
Therefore transfer these packages from dependencies to devDependencies

If one wants to move a module from dependencies to devDependencies) just do:

`npm install module --save-dev`

`npm install` documentation says that

[2018-10-24 20:05] jfoclpf commented on #82
We'll need to add to npm package th bin/ directory but ignore it in git. People that use git are developers and they will `git clone` and then they'll have access to devDependencies as they do `npm install`.

[2018-10-24 20:37] jfoclpf commented on #82
Instead of using `.npmignore` use `files` in `package.json`. Instead of blacklist, whitelist files to be published.
https://docs.npmjs.com/files/package.json#files

Testing whether your `.npmignore` or 'files` config works

"If you want to double check that your package will include only the files you intend it to when published, you can run the `npm pack` command locally which will generate a tar

[2018-10-25 00:03] mcristaldo commented on #73
I commited the files with the doughnut chart included. Please check it out when you get the chance.
Thank you.

[2018-10-25 22:07] jfoclpf opened #83 "The branch master is now our working branch"
@mcristaldo

#### 1) Commit on master

I moved our working branch to the branch `master`. Since we are leading the work and the development of the project, there is no sense to develop in a different branch.

From now on, you commit on the main branch, the branch `master`.
https://github.com/jfoclpf/autocosts

![image](https://user-images.githubusercontent.com/3984909/47532896-ed7cf300-d8b1-11e8-8

[2018-10-25 22:44] mcristaldo commented on #83
Sounds perfect. Thank you.

[2018-10-25 22:44] #83 closed

[2018-10-25 23:04] mcristaldo commented on #79
Warning: https://www.dropbox.com/s/nx26lhibkp1kc2f/Captura%20de%20pantalla%202018-10-25%2020.04.41.png?dl=0

I'm not sure why it's showing this warning cause actually we have headings along the site, even in the specific line that the warning is pointing out we have headings, so not sure how to solve this.

I solved the other warning though.

Thanks

[2018-10-26 08:08] jfoclpf commented on #79
Thanks for solving the other warning @mcristaldo
Regarding that warning, I think it has to do h1-h6 hierarchies
Check this page:
https://www.w3.org/wiki/HTML/Usage/Headings/Missing

And we don't respect hiearchy in results.hbs, for example here
https://github.com/jfoclpf/autocosts/blob/master/src/views/partials/results.hbs#L5

What do you think?

[2018-10-26 08:41] jfoclpf commented on #79
In [`main.hbs` in line 88](https://github.com/jfoclpf/autocosts/blob/master/src/views/main.hbs#L88), we have:
[code]

and the `{{> results }}` therein resolve into `results.hbs` which starts with `<section id="info-boxes">`.

Thus it is resolved as section into a section with no h1-g6 tags un-between, that is
[code]

with not `h1-h6` tags in between.

And the (html rules)[https://www.w3.org/wiki/H

[2018-10-26 21:34] jfoclpf commented on #73
Hi @mcristaldo
I added the doughnut chart. I restored to your original suggestion on the left.
Check https://autocosts.work/XX. What do you think?
I made some css changes on `results.css` here 47dc08e49597de4e49fc25d53bfcc9bb87d4eecd and on `responsive.css` here 0134769b06b43d7260139bbd385155ba0b7c7622
Can you kindly do some final css refinements, if necessary?

When you think it's ok, responsive

[2018-10-26 21:48] jfoclpf commented on #79
Solved with 078b3b7e9c351f4c04198e00481d442b785e2749, 4391e52d219e0944d2b32b7d48ffd1b9d05b4f40 and 650f8fe7a89c0c0eb54655935238cb72b4354be9

[2018-10-26 21:48] #79 closed

[2018-10-26 21:51] mcristaldo commented on #75
Hi Joao,

I've trying to replace the icon, but after uploading bottom_action_bar.hbs file it through FileZilla it seems the site doesn't get updated for some reason, I tried several times but noting happen. Would you please check why is this happening.
Here is the file: https://www.dropbox.com/s/xojxefq67eg4yf0/bottom_actions_bar.hbs?dl=0

[2018-10-26 22:01] mcristaldo commented on #75
It's not only happening with the bottom bar, I also tried to update the results.hbs file and the changes are not reflecting in the URL for some reason

[2018-10-27 13:35] jfoclpf commented on #75
@mcristaldo can you try now and give some feedback
Thanks

[2018-10-27 14:29] jfoclpf commented on #73
## Solved

### js

216fe345943bd91ce5f3bb4066d36aea6d8d195b and 5946b73881872784a0d5484b63d104744e30370d,

### html/css

469efed40d26abbc18869a2fa711d81c1b3f258b and 47dc08e49597de4e49fc25d53bfcc9bb87d4eecd

### css

b319da321ea4b4f5b046e77ea0ec1d4a4d251c45, 0134769b06b43d7260139bbd385155ba0b7c7622 and efc59171403de2a01708e1f8cac0145cbca84086

## Todo

@mcristaldo

I'm closing the issue, but if yo

[2018-10-27 14:29] #73 closed

[2018-10-27 14:30] jfoclpf commented on #73
If you think the design of the two top charts is already ok, you may leave it

[2018-10-29 23:15] jfoclpf commented on #72
Advanced work. Commits from ade92d85f0572a471641c0d2923b352365924d98 to d6a21ea014c86b6078cdfd55ed2d38bb869ab615

All changes here: https://github.com/jfoclpf/autocosts/compare/ade92d8..d6a21ea

[2018-10-30 15:38] mcristaldo commented on #75
Hi @jfoclpf
Sorry for the delay.
It's still not working, I tried uploading the files again but nothing happen.
I did a GIF so you can see what I'm doing https://www.dropbox.com/s/32qjg2v4yv6nfzf/autocosts-issue-uploading-files-ftp.gif?dl=0

[2018-10-30 19:57] jfoclpf commented on #75
@mcristaldo
it is indeed changing like a charm :)
do kindly check:

![image](https://user-images.githubusercontent.com/3984909/47746133-c80f3100-dc85-11e8-9621-cc65a2f4dcae.png)

![image](https://user-images.githubusercontent.com/3984909/47746309-2e944f00-dc86-11e8-8f5d-3c30b342bbe1.png)

You just changed the content of mobile div, that is, `.right-actions-mobile`.

Thank you so much

[2018-10-30 21:04] mcristaldo commented on #75
Oh man! Even though I built it myself I forgot I have one div for mobile only. Sorry for wasting your time.
Btw, I don't see a initialize.css file (I checked out several times ha)

PS.: Of course **I won't charge for it**, no worries and sorry again

[2018-10-30 22:23] jfoclpf commented on #72
These were the new strings needed for the new design

[code]

@mcristaldo could you kindly make the Spanish translation?

[2018-10-30 23:11] jfoclpf commented on #75
No problems at all. Now my fault :)
There is no `initialize.css`.

[2018-10-31 19:19] mcristaldo commented on #75
Hi Joao, I just changed the Pinterest icon to Whatsapp, would you check it out and close if everything is fine?
Thank you.

[2018-10-31 20:51] jfoclpf commented on #75
Thanks

[2018-10-31 20:51] #75 closed

[2018-11-05 10:57] jfoclpf opened #84 "Core functions as a pseudo JS class"
All the core functions at `coreFunctions.js` are separate functions, but that should be inserted into a pseudo JS class

[code]

[2018-11-05 18:49] NCCLPF opened #85 "Going back"
It is not intuitive how to come back to re-edit the already filled fields

[2018-11-05 18:57] NCCLPF opened #86 "Too high numbers"
In some fields, there is no limitation for very high numbers. For example in "Standing Costs" - "Commercial value of the car when you bought it" or in "Standing Costs" -  "Commercial value of the car today"

[2018-11-05 20:14] mcristaldo commented on #74
Hi Joao,

Where this page come from? I just want to understand how the users are able to reach this page.

Thank you.

[2018-11-06 18:41] jfoclpf commented on #74
Hi Martin. It should work

https://autocosts.work/stats

[2018-11-07 16:04] mcristaldo commented on #74
Hi Joao,

Yes sure, I saw the link already, the design is almost finish actually. What I meant is how the users reach to this page? is there a link on the sidebars or something, or they need the link to get access to this page?

Thank you.

[2018-11-07 17:16] jfoclpf commented on #74
Good point Martin
Actually I developed that page separately and I didn't think of it.
What do you suggest? I was wondering about a link somewhere around the
right bar where the chart appears.
Ideas are welcomed :)

[2018-11-09 21:01] mcristaldo commented on #74
Hi Joao,

Finally I have the design for the World Stats page.
Please take a look: https://www.dropbox.com/s/t5ajcth8n532kk9/ac_stats.jpg?dl=0

Also I've placed a link in the right sidebar to access to this page. I put it on the right of the country dropdown at the top. Please let me know your thoughts.
https://www.dropbox.com/s/rjcxhzezaebcw6g/Captura%20de%20pantalla%202018-11-09%2018.00.12.png?dl

[2018-11-10 00:00] jfoclpf commented on #74
Hi Martin
It's very good, thank you.
I just see an issue with mobile version.
That chart will be too shrunk and compact in mobile version, that's why I
put it on horizontal bars.
What do you think? Ideas?

[2018-11-11 19:59] jfoclpf opened #87 "Conversion functions"
Conversion functions as a pseudo JS class
https://github.com/jfoclpf/autocosts/blob/master/src/client/conversionFunctions.js

- inputs may be numbers 1, 2, 3 or more clearly km, mi, etc.. One may use
[code]
- add default on every case and throw error

[2018-11-12 09:59] NCCLPF opened #88 "Too high numbers allowed in some fields"
In some fields is allowed to write too high numbers. I found at least a case where the number is limited: "Vehicle inspection (MOT test) - How many times have you taken your car to vehicle inspection?" in "1. Standing costs".

[2018-11-12 11:12] NCCLPF opened #89 "Button "Next" before the field "Maintenance""
As it fills the fields, the button "Next" appears at the end. Nevertheless, I have found a case where it doesn't happen. Filling these fields:
 - "2. Running costs - Petrol, diesel, LPG, electricity - Calculations based on - Mi - Considering you drive to work? - Yes", and
- the subsequent ones, next to "Average price you pay for the fuel"
it appears the button "Next" before "Maintenance".

[2018-11-12 12:48] NCCLPF opened #90 "Net income per month"
In the field "3. Public transports & Financial effort - What is your net income? - Month" the number of months is limited to 12, but for example for the Portuguese country the number should be 14, since the net income there is per 14 months.

[2018-11-13 20:11] mcristaldo commented on #74
Hi Joao,
Sorry for the delay.

I have a couple of comments about the charts

1. It's hard to distinguish the low values on the bars, from a visual perspective. Even though there is a tooltip for each bar.
**Possible solution**: setup Standing costs and Running costs as 2 different charts. It could be applied for results page too. Thoughts?

2. About mobile, from a technical perspective (also think

[2018-11-24 12:56] jfoclpf commented on #74
Hi Martin
Thank you for the reply

1. Splitting is not a good idea because the total overall costs of the car get dispersed and it's not possible anymore to compare the total costs amongst countries.

2. Nice point, yes it should be. We can try to at least detect the window's width and change the charts orientation accordingly. Nice point!

You can start updating the css for the charts. It's this

[2018-11-26 12:17] NCCLPF opened #91 "Limit the number of people older than 4 years in the family"
Limit the number of people in the field "3. Public transports & Financial effort - Public transports -  How many people older than 4 years old you have in your family (including you)".

[2018-11-26 12:36] NCCLPF opened #92 "Having no net income the final result is infinite"
![image](https://user-images.githubusercontent.com/44784435/49013949-bd5d9400-f17e-11e8-90c7-79732dabf33b.png)
Having no net income in the field "3. Public transports & Financial effort - What is your net income? - Year or Month or Week or Hour" the final result shows infinite:
![image](https://user-images.githubusercontent.com/44784435/49014234-c26f1300-f17f-11e8-8939-743e2dc05b02.png)

[2018-11-26 12:59] NCCLPF opened #93 "Any error if I drive to work a couple of days and do at the same time 0 Miles in that way"
![image](https://user-images.githubusercontent.com/44784435/49015168-90ab7b80-f182-11e8-9a02-5febd81d540c.png)
It doesn't show any error in the field "3. Public transports & Financial effort - Distance - Considering you drive to work? - Yes", if I drive to work for example 3 days and do 0 Mi driving between home and workplace. It doesn't show also any error in the final results.

[2018-11-26 13:27] NCCLPF opened #94 "No relation between the Miles that I do to work/weekends and how many minutes I spend to do that"
In the field "3. Public transports & Financial effort - Distance - Considering you drive to work? - Yes - Miles you drive between home and workplace (just one way)" I can put 20 Mi and at the same time in the field "3. Public transports & Financial effort - How many minutes you drive from home to workplace? (just one way)", I can put 0 min that it doesn't appear any error and it shows the final re

[2018-12-01 12:02] jfoclpf commented on #94
Thank you very much for finding that bug @NCCLPF

I think it can be solved with restrictions on the field input. Some inputs should only accept numbers greater than zero, and not equal zero.

Functions in ValidateFormModule should thus be amended accordingly.

[2018-12-03 15:21] jfoclpf opened #95 "Text on button is cropped on mobile devices"
@mcristaldo can you check and solve?

![image](https://user-images.githubusercontent.com/3984909/49382611-21500180-f717-11e8-843f-ce7ca7632dd0.png)

the above example is for mobile devices on /PT

In the Chrome dev tools, which I've seen you using, you can simulate mobile devices on the top left icon button

![image](https://user-images.githubusercontent.com/3984909/49382716-6ecc6e80-f717-11e8-903

[2018-12-04 17:39] jfoclpf commented on #74
@mcristaldo I realised that you made a great job in the stats page https://autocosts.work/stats
Thanks. Can you send me the files that I upload them to the system and github?

[2018-12-04 21:56] mcristaldo commented on #74
Hey @jfoclpf
I downloaded the github desktop app, so it's easier for me to keep track on things and download and commit files. I commited everything on Sunday, didn't you get a notification about it?

[2018-12-04 21:56] mcristaldo commented on #74
I'm still working on the responsive version for this Stats page though

[2018-12-04 23:47] jfoclpf commented on #74
Ah ok, cool. I need to update the repository on my local side. I will check
it

On Tue, 4 Dec 2018, 22:56 Martín Cristaldo <notifications@github.com wrote:

[2018-12-10 20:10] mcristaldo commented on #74
Hi @jfoclpf
I'm working on the responsive view for Stats. Not sure what the reason is, but style.css is not working anymore. For some reason the site is not linking this file, even though it's on the server.
Do you min checking it when you get the chance please?

Thank you

[2018-12-11 23:23] jfoclpf commented on #74
Hi @mcristaldo
Solved!
It had to do with the file permissions.
Check the file permissions on filezilla
Regards

[2018-12-12 21:44] mcristaldo commented on #74
Awesome, thank you very much.

[2018-12-16 16:18] jfoclpf commented on #74
Hi @mcristaldo

I merged your updates with my changes and changes are already here on github and online
https://autocosts.work/stats

if you have already a local git software, _update the code to your local machine_

I realised that we cannot actually really make vertical bars on the chart, since we can have several countries, and the number of countries is growing and will grow further, and all t

[2018-12-16 23:04] #84 closed

[2018-12-16 23:07] jfoclpf commented on #72
@mcristaldo I have already spanish, what do you think?
https://autocosts.work/NI

I will still need to arrange for Italian, French, Romanian, Swedish, Norwegian and Polish .
I may use Google Translate

[2018-12-16 23:09] jfoclpf commented on #87
solved
https://github.com/jfoclpf/autocosts/blob/master/src/client/core/conversions.js

[2018-12-16 23:09] #87 closed

[2018-12-17 16:02] mcristaldo commented on #74
Hi @jfoclpf

Great, thanks for letting me know.
I'm struggling with the tables on mobile, it looks good on Chrome testing in my pc, but it's not looking good on my iPhone, I have been trying different alternatives but for some reason it doesn't display properly. I'll do my best to solve this today, after solving that this issue would be ready to be closed.
I'll let you know.

The vertical bars loo

[2018-12-17 19:59] mcristaldo commented on #72
Hi @jfoclpf
Looks great, I reviewed all the pages and I didn't see any error.

[2018-12-17 20:06] mcristaldo commented on #95
Solved

[2018-12-18 15:23] jfoclpf commented on #95
Can you be more specific Martin?
I don't see any update neither in github nor in the server. Maybe I'm missing something.

[2018-12-18 15:33] mcristaldo commented on #95
I solved that button cropped issue, are you able to see it correctly now?
https://autocosts.work/PT

[2018-12-18 16:15] jfoclpf commented on #95
Ok. Thanks. Update in github (but please, from the latest version)

But now it is too wide for English, check /UK.
Should I change the button width dynamically?

On Tue, 18 Dec 2018, 15:33 Martín Cristaldo <notifications@github.com wrote:

[2018-12-18 18:01] mcristaldo commented on #95
I think it's fine that way. It's the main CTA so it should stand out.

[2018-12-18 18:03] mcristaldo commented on #74
Got it, no problem. I'll try to solve it within an hour. Sounds good?

[2018-12-20 18:03] mcristaldo commented on #74
Hi Joao,

The stats page is done, I checked it out on desktop and mobile and it looks good. Would you check it out when you get the chance please?

Btw, the home page is only displaying the header and footer animation but not the text and button on iPhone, would you check that too please?

Thank you.

[2018-12-21 01:22] jfoclpf commented on #74
Hi Martin

Can you check now?
https://autocosts.work/stats
What do you think?
Code updates are already in github

I made some changes on that, to avoid the text to appear on a clumsy way. Can you try to make a hard refresh on your iPhone browser and confirm that?

Thanks

[2018-12-21 01:34] jfoclpf commented on #74
anyway something's wrong on the table CSS which I cannot detect, can you check?

[2018-12-21 15:41] mcristaldo commented on #74
Hi Joao,

The references look good. Thank you.
The stats.hbs file got overwritten. I uploaded it to Github but now I'm not able to upload to autocosts.work. I'm getting the same error as always "553 Could not create file."

[2018-12-21 20:42] jfoclpf commented on #74
Can you check now the stats.hbs?

I overwrote with the code that was on github. It means that it was not
correctly updated on github. Could you kindly update in github if necessary?

Thank

On Fri, 21 Dec 2018, 15:41 Martín Cristaldo <notifications@github.com wrote:

[2018-12-22 23:48] mcristaldo commented on #74
Hi Joao,
I already updated on github but I'm still not able to upload to the website. I'm getting the same error.

Thank you.

[2018-12-23 19:00] jfoclpf commented on #74
Thanks, I found the issue, the server hadn't the correct files from github.
Now it's solved

[2019-01-01 23:13] jfoclpf commented on #72
These strings need to be translated

[code]

to **French, Italian, German, Hungarian, Greek, Polish, Czech, Romanian, Dutch, Swedish, Norwegian, Danish, Finish, Russian, Ukrainian, Turkish, Indian, Japanese and Chinese**

[2019-01-02 23:20] jfoclpf commented on #72
added remaining strings with 46b9878e80ec7eec0b2916df750c9cbe19549454

missing only JP and CN

[2019-01-04 00:36] #72 closed

[2019-01-04 13:38] mcristaldo commented on #85
Agree here, it should be more intuitive.
@jfoclpf would you like me to explore some possible solutions for this?

[2019-01-04 17:35] jfoclpf commented on #85
I'll do that. Thanks

João Pimentel Ferreira <http://joaopimentel.eu>

On Fri, 4 Jan 2019 at 14:38, Martín Cristaldo <notifications@github.com>
wrote:

[2019-01-05 03:05] jfoclpf commented on #94
partially solved with 7f09cf57f15d04d80f10925274edf60923570f9e
thanks for the tip @NCCLPF

[2019-01-05 03:05] #94 closed

[2019-01-05 03:08] jfoclpf commented on #91
solved, limited to 10 people in family
thanks @NCCLPF

[2019-01-05 03:08] #91 closed

[2019-01-05 21:10] jfoclpf commented on #92
thanks @NCCLPF
issue solved with 5817ebc
Can you try now, when you have time, just to be sure that this issue is solved? :)
https://autocosts.work/XX

[2019-01-05 21:10] #92 closed

[2019-01-05 21:11] jfoclpf commented on #93
issue solved with 5817ebc1f1958ee33e6b96191e041fd1349f1d50
Thanks @NCCLPF

[2019-01-05 21:11] #93 closed

[2019-01-05 21:15] jfoclpf commented on #90
good catch @NCCLPF
solved with e1ad628
Thanks

[2019-01-05 21:15] #90 closed

[2019-01-05 21:17] jfoclpf commented on #85
@mcristaldo thinking better, I think you're the expert on these issues :)
Can you kindly explore some possible solutions to this issue?
Thanks a lot
João

[2019-01-05 21:20] jfoclpf commented on #88
@mcristaldo what do you think about this issue?
Should we limit the maximum amount for certain fields, like costs of the car os yearly salary?

[2019-01-05 22:39] jfoclpf commented on #89
This is working.

I suppose you refer to this **orange Next** button:

![image](https://user-images.githubusercontent.com/3984909/50729888-24894380-1142-11e9-89fa-79c410511804.png)

The button is supposed to appear there, before **Maintenance**, because it is the button correspondent to the whole section **fuel**, and thus it appears at the end of section **fuel**.

That orange button "next" disap

[2019-01-05 22:39] #89 closed

[2019-01-05 22:43] jfoclpf opened #96 "Clicking on the costs items list"
By clicking on the items on this list, the page should slide to the corresponding section

![image](https://user-images.githubusercontent.com/3984909/50729986-9746ee80-1143-11e9-9124-85de9efcacad.png)

[2019-01-06 13:19] #96 closed

[2019-01-06 13:40] jfoclpf commented on #80
solution here, I'll do that now
https://stackoverflow.com/a/5298684/1243247

[2019-01-06 23:19] jfoclpf commented on #80
solved with bf84f55

[2019-01-06 23:19] #80 closed

[2019-01-07 22:59] jfoclpf opened #97 "New css style for generated tables"
@mcristaldo

In our building script there is a subscript to generate html tables for the averages of every country.
Such subscript also generates JPG files from said html tables (jpg files are easier to share around).

Check [here](https://github.com/jfoclpf/autocosts/tree/master/src/tables) the template for the generation and rendering of these tables. Go also to the `bin/tables` folder in the se

[2019-01-07 23:15] jfoclpf opened #98 "Style for list of countries"
@mcristaldo
Can you also make a style for this table?
https://autocosts.info/list
It's here the file
https://github.com/jfoclpf/autocosts/blob/master/src/views/list.hbs
here you may and should use an external css file

Thanks

[2019-01-07 23:16] jfoclpf commented on #98
wait, I realised that that page is broken
https://autocosts.work/list
wait, I will try to fix it and I will let you know
Thanks

[2019-01-09 20:20] mcristaldo commented on #85
Hi @jfoclpf
Links on the steps is great!

I've been working on a solution to make going back more intuitive.
Please review this GIF I created to show you how this would work: https://www.dropbox.com/s/4ny6ku0wwl32teo/AC_going-back-solution.gif?dl=0

**How does it work?**
After the user answer the questions for the first step, he will go to the next step (Vehicle insurance and breakdown coverage) o

[2019-01-10 16:58] mcristaldo commented on #85
Hi @jfoclpf
A simpler solution: https://www.dropbox.com/s/e2k99q3su690xqu/AC_going-back-solution-v2.gif?dl=0
I can do that animation with CSS.

Thoughts?

[2019-01-10 21:00] jfoclpf commented on #85
Hi Martin
that GIF is static, I can't see anything
cheers

João Pimentel Ferreira <http://joaopimentel.eu>

On Thu, 10 Jan 2019 at 17:58, Martín Cristaldo <notifications@github.com>
wrote:

[2019-01-10 21:07] mcristaldo commented on #85
Oh sorry, are you able to see it now?
![ac_going-back-solution-v2](https://user-images.githubusercontent.com/11855774/50997137-924abc00-1502-11e9-83f7-6ed13a9a5b1c.gif)

[2019-01-11 10:33] jfoclpf opened #99 "Two bugs"
- Not working on /NL or /DE on firefox. When I click the "next" button on depreciation, nothing happens
 - Check the content security policy errors (seen on debug console) on the `.work` version. Check also in firefox debugger console.

[2019-01-13 23:48] jfoclpf commented on #99
Solved with 262eb716fa06398457fb1abda82b81c082fe2139

[2019-01-13 23:48] #99 closed

[2019-01-14 00:34] jfoclpf commented on #85
Hi @mcristaldo
seems cool, you may advance to this solution if you can apply it using merely css
cheers
João

[2019-01-14 00:42] jfoclpf commented on #88
user should be able to put as high numbers as he/she wishes because that's not a common mistake and it would be hard to validate, since the calculator allows many different currencies with different conversions, and many different types of fields, for example the cost of automobile acquisition has a number many times higher than costs of inspection.

[2019-01-14 00:42] #88 closed

[2019-01-14 01:47] jfoclpf commented on #98
solved with 90f84e64f14b4a2b4e7d643d03422a51a956be2f

[2019-01-14 01:48] #98 closed

[2019-01-14 13:22] mcristaldo commented on #88
Hi Joao,
Totally agree on your last comment.

[2019-01-14 18:09] mcristaldo commented on #85
Hi @jfoclpf
I can do it with CSS the thing is that we do need some conditions, cause it should appear only when the user scrolls up. Showing this everytime would be annoying. Are you able to add this condition after I do the animation in CSS?

[2019-01-14 18:35] mcristaldo commented on #74
Hi Joao,

I just realized that the files uploaded for this page are not the correct ones.

I'm not able to upload this via FTP to re-test the site but the files in Github aren't the last version I created. I'm getting the same 553 error as always.

I'm not using table tag anymore, I used divs to create the tables cause it works better on mobile as well as it allows more control.

Github is having

[2019-01-14 20:32] mcristaldo commented on #97
Hi @jfoclpf
I just committed the file. Please take a look and let me know if it works properly.

Thank you.

[2019-01-14 21:31] jfoclpf commented on #97
Hi @mcristaldo
basically we need to edit this table here, for example
https://autocosts.work/tables/NI.html

Maybe you committed on your local machine, but you didn't push it to this repository.
Check here: https://github.com/jfoclpf/autocosts/commits/master

pull (update) again from this repo to your local machine, before pushing because I made some updates in the meantime, but most likely there'

[2019-01-14 22:14] jfoclpf commented on #74
are these the files you want to upload?

Stats.hbs: https://www.dropbox.com/s/hg4zb4na95xw6tq/stats_backup2.hbs?dl=0
Main.css: https://www.dropbox.com/s/tcjqbq77a9twoti/main.css?dl=0

the conflict is due to the fact that maybe I edited those files

[2019-01-14 22:14] jfoclpf commented on #74
I upload them, don't worry

[2019-01-14 22:17] jfoclpf opened #100 "css error"
Hi @mcristaldo
please, kindly reply in the next hour, cause I really want to advance

css validation is giving error here
https://github.com/jfoclpf/autocosts/blob/master/src/css/style.css#L133

is this syntax ok?

[code]

I never saw it, but when I try to change it, the form doesn't show ok

[2019-01-14 22:23] jfoclpf commented on #74
css file is giving error

@mcristaldo , forget it, we need to advance and we're losing too much time on details

[2019-01-14 22:23] #74 closed

[2019-01-14 22:32] jfoclpf commented on #74
thanks
João Pimentel Ferreira <http://joaopimentel.eu>

On Mon, 14 Jan 2019 at 23:26, Martín Cristaldo <notifications@github.com>
wrote:

[2019-01-14 22:33] jfoclpf commented on #89
thanks @mcristaldo

[2019-01-14 22:41] jfoclpf commented on #97
ok @mcristaldo

but `commit` and `push` are different commands

when you commit you commit to your local repository, you create a `commit`, but then you have to push your local commits to the repo here on github, that is, on the cloud.

Are you suing git in command line or any piece of SW?

[2019-01-14 23:08] jfoclpf commented on #100
just another issue @mcristaldo
I was solving many css error syntaxes.
It's always good idea to parse the css file through a validator.
You just need to upload the file here: https://jigsaw.w3.org/css-validator/#validate_by_upload and check the errors
cheers

[2019-01-14 23:12] jfoclpf commented on #100
not too many errors, but this also 9b089b72d1c7f6c5711e09d08ddbe5017a051fde
it was an error, or some special syntax for IE9?

[2019-01-15 13:59] mcristaldo commented on #97
Yes but when I try to "Pull origin" I'm always getting a conflict in a
file:
https://www.dropbox.com/s/5g7v2anwef8hnzr/Captura%20de%20pantalla%202019-01-15%2010.56.13.png?dl=0

Even though I already commited the template.hbs file on the Github website,
it came up with conflicts, it add weird characters in the code. I will need
to re-upload it. Idk Github desktop is not working well OR I'm not
unde

[2019-01-15 14:08] mcristaldo commented on #100
Yes leave it as it's please. It's a hack for IE9. I will check the rest

[2019-01-15 14:12] mcristaldo commented on #100
I just checked style.css
All the "errors" are hack to make things works for the majority of browsers. I don't think we need to change anything there. I will check the rest of the css files

[2019-01-15 18:04] mcristaldo opened #101 "Home page: arrow on dropdown is missing"
I created a GIF to show the issue:
![arrow-missing](https://user-images.githubusercontent.com/11855774/51199905-cd6c3700-18d6-11e9-9d0a-1adbd4a9683b.gif)

That "background: 0" property is hiding the arrow.

[2019-01-15 18:13] mcristaldo opened #102 "Loading spin on form page"
It would be nice to have a loading spinner GIF while the page is loading. It takes 4-5 secs to load the entire page. This way they will know that the content is loading, otherwise it can cause uncertainty on the user.

GIF:
![form-page-loading](https://user-images.githubusercontent.com/11855774/51200224-a7936200-18d7-11e9-8551-e70c9f728d3c.gif)

Thoughts?

[2019-01-15 18:20] mcristaldo opened #103 "Social media icons are missing"
In the results page, the social media icons are missing. Is it on purpose, it has a display: none property applied to it
SS:
https://www.dropbox.com/s/dfvavvjtqzbjcqu/Captura%20de%20pantalla%202019-01-15%2015.19.43.png?dl=0

[2019-01-15 18:23] mcristaldo opened #104 "Results page: "Total" doesn't fit well"
![captura de pantalla 2019-01-15 15 22 00](https://user-images.githubusercontent.com/11855774/51200869-63a15c80-18d9-11e9-82fd-c3dff32e0213.png)

I think we can use only "Total" at the bottom of these section. We already have the title at the top, I don't think we need to repeat it at the bottom. I'm not sure if it's possible at this stage though.

Thoughts?

[2019-01-15 18:26] mcristaldo opened #105 "Results page: "Print" doesn't work"
When I hit on "Print" button nothing happens

[2019-01-15 18:33] mcristaldo opened #106 "Home page on iPhone doesn't show the text and button"
I tested it on my iPhone, as you can see in my screenshot I'm only able to see the header and footer animation. I'm also not able to open the sidebars for Average Monthly Costs and Info.

![img-5324](https://user-images.githubusercontent.com/11855774/51201349-8f711200-18da-11e9-9612-e91b7961d5af.JPG)

[2019-01-15 18:43] jfoclpf commented on #97
I see. Conflicts appear when two people worked separately on the same file
on the same part of the code, because git cannot then merge.

Kindly read

https://help.github.com/articles/resolving-a-merge-conflict-using-the-command-line/

I know, github is complex and perhaps a hassle for the 1st time, but
believe me it's an add-on in your knowledge which you won't regret.

Could you kindly read the a

[2019-01-15 18:56] jfoclpf commented on #104
Perfectly agreed. I will do it

[2019-01-15 20:14] mcristaldo commented on #102
I'm sharing a loader in two formats, GIF and SVG
SVG: https://www.dropbox.com/s/ww0uzfn4rsteel8/loader.svg?dl=0
GIF: https://www.dropbox.com/s/41zjim3koaxjmp4/loader.gif?dl=0

[2019-01-15 21:58] jfoclpf commented on #102
I will use them

[2019-01-16 21:58] jfoclpf commented on #97
I see you could do it, thanks. I had to correct some html errors.

Nonetheless check the generated table
https://autocosts.work/tables/US.html

could you align the table?

and errors on the html still continue. Can you solve this errors?
https://validator.w3.org/nu/?doc=https%3A%2F%2Fautocosts.work%2Ftables%2FUS.html

[2019-01-17 17:34] mcristaldo commented on #97
Hi Joao,
I just fixed the alignment issues. I will check the HTML errors.

[2019-01-17 18:36] mcristaldo commented on #97
Just solved HTML errors on template.hbs file

[2019-01-17 20:32] #25 closed

[2019-01-17 20:34] jfoclpf commented on #25
done: https://autocosts.info/stats

[2019-01-20 16:01] jfoclpf opened #107 "Harmonize URLs"
Check
https://stackoverflow.com/a/21828923/1243247

"
**When requesting external resources you most likely want to use an URL relative to the scheme (1) (unless you want to force a different scheme); and when dealing with local resources you want to use relative URLs based on the document root (2).**

1.

**//yourdomain.com/images/example.png**

This URL is relative based on the current scheme use

[2019-01-20 17:00] #107 closed

[2019-01-20 17:03] #101 closed

[2019-01-20 17:03] jfoclpf commented on #101
solved

[2019-01-22 11:01] jfoclpf opened #108 "Google Analytics not loading"
If we go to console and press `ga()` it throws an error, meaning google analytics not working

Check line 227 of <a href="https://github.com/jfoclpf/autocosts/blob/master/src/client/initialize.js#227">src/client/initialize.js</a>

[2019-01-22 11:03] jfoclpf opened #109 "Calculator giving error"
When user selects on <b>fuel section</b>, calculation based on <b>distance</b> and </b>considerign takes car to work</b>, the result is not showing

[2019-01-22 11:04] jfoclpf opened #110 "On UK landing page, financial effort shows 0.0"
On UK landing page, financial effort shows 0.0

[2019-01-22 20:29] jfoclpf opened #111 "Correct variable name"
in translatedStrings `you_drive_tottaly_avg` should be `you_drive_totally_avg`

[2019-01-23 20:48] jfoclpf commented on #109
solved with commits 873ddb17569466dcc36ad919aaeb38c3a32a5172...8d7dc3c5efa8252f36dd063a588f58f1f24da0e1

[2019-01-23 20:48] #109 closed

[2019-01-24 10:08] jfoclpf opened #112 "Change the title"
According to SEO optimization, the title should have 50 to 60 characters

Therefore we should make on server side, before assigning unexistant strings to UK's trings

[code]

[2019-01-24 10:10] jfoclpf commented on #112
Title

 * Length: Title tags should be 50-60 characters long, including spaces.
 * Keyword placement: Your most important keywords need to be first in your title tag, with your least important words coming last.
 * Brand name: If your company name is not part of the important keyword phrases, put it at the end of the title tag.
 * Do not duplicate title tags: They must be written differently for e

[2019-01-25 20:10] jfoclpf commented on #104
solved with eecd4f7fa7c9cf99fc24766d54189e79d1514690

[2019-01-25 20:10] #104 closed

[2019-01-26 21:51] jfoclpf commented on #103
solved
please check https://autocustos.info and if error persist please reopen issue

[2019-01-26 21:51] #103 closed

[2019-01-26 21:53] jfoclpf commented on #106
Can you test now @mcristaldo  ?

https://autocostos.info

[2019-01-30 09:08] jfoclpf commented on #106
It is strange, it works ok on my mobile device and in chrome dev tools
simulating IPhones.

Can you make a hard refresh on your mobile browser?

Mobile browsers are a pain for testing and debugging because they insist in
keeping old files in cache to avoid using extra data and thus save money
and increase loading speed.

[2019-01-30 11:16] mcristaldo commented on #106
Yeah, it’s weird but I tried in incognito mode and it’s same 😔

El El mié, 30 de ene. de 2019 a las 06:08, João Pimentel Ferreira <
notifications@github.com> escribió:

--
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https:/

[2019-01-30 11:17] mcristaldo commented on #106
I’ll ask a friend who has iPhone too to check it out and I’ll let you know
as soon as I can

El El mié, 30 de ene. de 2019 a las 08:15, Martín Cristaldo <
martinuxui@gmail.com> escribió:

--
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instag

[2019-01-30 11:58] mcristaldo commented on #106
I just got this screenshot from another iPhone.

El El mié, 30 de ene. de 2019 a las 08:17, Martín Cristaldo <
martinuxui@gmail.com> escribió:

--
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Bl

[2019-01-30 14:05] mcristaldo commented on #103
It does works now. The links works perfectly too. Cool!

Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Blog: @mcristaldo <https://medium.com/@mcristaldo>

El sáb., 26 ene. 2019 a las 18:51, João

[2019-01-30 16:39] jfoclpf commented on #106
Thanks Martin for all the feedback.

because I need good emulators, and Chrome is not one.

When I arrive at home, I will install Safari and try to spot the bug.

Thanks again

[2019-02-04 13:52] jfoclpf commented on #110
solved with 69271e0f7c40984bb6301505a16338b73437cb0e

[2019-02-04 13:52] #110 closed

[2019-02-04 13:52] jfoclpf commented on #108
solved

[2019-02-04 13:52] #108 closed

[2019-02-04 13:53] #97 closed

[2019-02-04 20:17] jfoclpf commented on #102
@mcristaldo I think I solved this issue with ef1a94c17cfaa078382ccfd80b626023d829096c, if not kindly reopen it

[2019-02-04 20:24] mcristaldo commented on #102
Hi @jfoclpf
I just checked it out on Chrome incognito mode, it doesn't show up. Where did you test it?

[2019-02-04 22:56] jfoclpf commented on #102
Hi Martin
I tested on autocosts.work
I tested now on my phone and it shows the spinning loader
It's not yet in production

On Mon, 4 Feb 2019, 21:24 Martín Cristaldo <notifications@github.com wrote:

[2019-02-05 14:43] mcristaldo commented on #102
Oh I tested on .info site, sorry.
It works on Chrome in my Mac, but I'm not able to see it in my iPhone because that home page issue.

[2019-02-05 18:36] jfoclpf commented on #102
Ok, we can close this issue then.

I will try to solve this iOS/iPhone issue #106 today, but I still didn't
find an easy way to test it on my Ubuntu.

[2019-02-05 21:04] jfoclpf commented on #106
I tried with Opera, Chromium, Chrome and Firefox and it worked.
There is no Safari for Ubuntu, I will wine

[2019-02-05 21:42] mcristaldo commented on #106
It's weird, cause it used to work fine on iPhone.

Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Blog: @mcristaldo <https://medium.com/@mcristaldo>

El mar., 5 feb. 2019 a las 18:04, João Pimente

[2019-02-05 21:59] jfoclpf commented on #106
@mcristaldo can you try on Chrome in iPhone?

[2019-02-05 22:00] jfoclpf commented on #106
do you remember at which version/commit?

[2019-02-05 22:01] mcristaldo commented on #106
I've been trying on iPhone and Safari. It doesn't work either

Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Blog: @mcristaldo <https://medium.com/@mcristaldo>

El mar., 5 feb. 2019 a las 18:59,

[2019-02-06 08:37] jfoclpf commented on #106
I already detected the issue, and it has to do with jQuery which has some
incompatibilities with Safari, but I think I can solve it using on that
code portion, vanilla JavaScript

iPhone uses browser Safari, but can you try other browsers for iPhone?

[2019-02-06 12:52] jfoclpf commented on #106
Martin, which version of iOS are you using?
jQuery only supports Safari on iOS 7+

https://jquery.com/browser-support/

[2019-02-06 13:00] jfoclpf opened #113 "logo in IE is too big"
The logo in IE is too big

In line 15 of `css/style.css` replace

[code]

for

[code]

[2019-02-06 13:03] jfoclpf commented on #113
[code]

I already tested this in IE and it works fine, being the only issue in IE 11

[2019-02-06 13:27] mcristaldo commented on #106
I have iOS 12

El El mié, 6 de feb. de 2019 a las 09:52, João Pimentel Ferreira <
notifications@github.com> escribió:

--
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Blog: @mcristaldo <https://

[2019-02-06 21:30] #113 closed

[2019-02-06 21:35] jfoclpf commented on #106
Hi @mcristaldo
I'm trying to solve this issue but it's being quite a hassle and a burden since I can't debug in iOS and I don't have access to Mac nor Safari

Do you domain Javascript? Can you try to solve this issue? Take no more than two hours, and if you can't, forget it.

Cheers

[2019-02-07 14:05] mcristaldo commented on #106
Hi Joao,
I'm not expert in JS. I would love to help you, but I don't want to waste
your time and money on it, cause to be honest I don't think I will be able
to solve it myself.

El mié., 6 feb. 2019 a las 18:35, João Pimentel Ferreira (<
notifications@github.com>) escribió:

[2019-02-07 18:32] jfoclpf commented on #106
Thanks Martin for your honesty.
Cheers

On Thu, 7 Feb 2019, 15:05 Martín Cristaldo <notifications@github.com wrote:

[2019-02-08 08:34] gitbjorn commented on #106
@mcristaldo Hi Martin, I noticed this thread in a job post. I hope I can guide you in the right direction.

I have been debugging the problem and the issue is (most likely) caused by the CSP rules set for your website. When I debug in Safari on my Mac, it points in the direction of a script called from main.js which is not in your CSP list. I didn't debug any further yet, but hope this helps.

Ple

[2019-02-08 21:58] #102 closed

[2019-02-08 21:59] jfoclpf opened #114 "Implement webpack"
https://webpack.js.org/

[2019-02-08 23:08] jfoclpf commented on #106
Hi @gitbjorn

I will check that. So you say it has to do with CSP rules. Which rule
exactly is failing? Which debugging message is it outputting? But it's
strange since it works in Chrome, Opera, IE, Chromium and Firefox. Is it
iOS more sensible to CSP rules?

[2019-02-08 23:09] jfoclpf commented on #106
In any case I will check that tomorrow, sure. Now it's a bit late here.
Thanks a lot

[2019-02-08 23:30] gitbjorn commented on #106
I was researching the issue a bit further on the web and it seems that iOS and Safari are a bit behind on the CSP standard (2 vs 3). Didn't look too much if that is still the case, though. But I came across some posts from even a couple of days ago.

If I use the Safari Debugger on my Mac, it shows where the problem is, double clicking it, brings me to the main.js file.

If you have access to a Ma

[2019-02-08 23:48] jfoclpf commented on #106
I think you're testing on autocosts.info which is the production version
and thus the code is minified and has not the latest code.

Can you kindly do the same test at autocosts.work just to be sure? To try
to find the precise line that fails and the script which is not loaded.

I have Ubuntu and I don't have any access to Mac. Maybe a Vmware :)

Thanks a lot

[2019-02-09 00:08] gitbjorn commented on #106
I double checked, I am at the .work domain. The file extension of the jquery-file is .min.js, but perhaps it's not minified and just has the .min.js extension. The HTML at /NL looks minified as well.

I did notice an error in the network resources stating /NL can't be loaded (no reason specified, might be unrelated). If I am not mistaken, your colleague is also in the Netherlands.

[2019-02-09 00:13] gitbjorn commented on #106
ps. There are some instructions on how to install MacOS on Ubuntu using VirtualBox

[2019-02-09 21:46] jfoclpf commented on #106
@gitbjorn

it seems jQuery has some [issues with CSP](https://github.com/jquery/jquery/issues/3541) rules when these rules include `nonce`. After several tries, I removed the nonces. We should wait for new releases of jQuery.

I installed one, but I don't know if Safari at MacOS emulates correctly Safari at iOS

Could you kindly try now to check if it works?

@mcristaldo could also check now on iO

[2019-02-09 21:49] gitbjorn commented on #106
@jfoclpf It works at Safari on both Mac OS X and iOS

[2019-02-09 23:19] jfoclpf commented on #106
@gitbjorn is it possible to emulate Safari iOS on Safari MacOS?

[2019-02-10 14:09] #111 closed

[2019-02-13 20:09] jfoclpf opened #115 "Logo for facebook"
Create a logo for Facebook:
 - size in pixels is 1200 x 630px
 - Aspect ratio should be 1.91:1
 - png or gif or jpg format (apparently facebook doesn't like svg)

from [SO](https://stackoverflow.com/questions/18835027/new-ogimage-size-for-facebook-share).

@mcristaldo can you make a logo (the same car, the same colours, the same theme) that satisfies these rules? Do you think is achievable?

I sho

[2019-02-13 20:10] jfoclpf commented on #115
More on facebook images, from facebook blog:
[Facebook Docs - Image Optimization for Link Page Posts.pdf](https://github.com/jfoclpf/autocosts/files/2861997/Facebook.Docs.-.Image.Optimization.for.Link.Page.Posts.pdf)

[2019-02-15 10:06] jfoclpf commented on #115
Facebook uses Open Graph
http://ogp.me/

Therefore the image property should be, for example

[code]

We can have several images, with different sizes (og array)

[code]

[2019-02-15 10:09] jfoclpf opened #116 "Avoid redirects of wrong page and show HTTP 404"
Due to SEO best practises, this page
https://autocosts.info/asdf324l5,jblkdsbflksadbf
should show a costumized 404 page, check for example

 - https://google.com/asdlkjjg3l2rglsdbncalsditufqpweifug
 - https://www.facebook.com/k32jrvasvfasdvbfal

The 404 should be returned

[2019-02-15 10:17] jfoclpf opened #117 "URL terminology coherence"
URL: http://video.google.co.uk:80/videoplay?docid=-7246927612831078230&hl=en#00h02m30s

 - The protocol is http. Other protocols include https, ftp, etc.
 - The host or hostname is video.google.co.uk.
 - The subdomain is video.
 - The domain name is google.co.uk.
 - The top-level domain or TLD is uk. The uk domain is also referred to as a country-code top-level domain or ccTLD. For google.com, the

[2019-02-15 10:25] jfoclpf commented on #117
Nonetheless how Google calls it,

we should follow RFC 6454 section 4 used by Javascript on browsers on  `window.location`

[code]

 - `protocol` - protocol scheme of the URL, including the final ':'
 - `hostname` - domain name
 - `port` - port number
 - `pathname` - /pathname
 - `search` - ?parameters
 - `hash` - #fragment_identifier
 - `username` - username specified before the domain name
 - `p

[2019-02-18 13:06] jfoclpf commented on #117
Check https://stackoverflow.com/questions/54722548/url-parts-canonical-terminology

[2019-02-18 15:44] mcristaldo commented on #115
Hey Joao,
Sorry for the delay, I took the last week off.
I will work on the image for facebook during this week.

Thank you.

[2019-02-18 19:08] jfoclpf commented on #115
Hi @mcristaldo , no worries, I'm already making the logos.
Thanks anyway
cheers

[2019-02-18 20:35] jfoclpf commented on #115
solved with 32262388e14a01b4ed5cf29e21d188d2d67bc48d and 30479517d8b59f3c3e93a871ccc70be475f3fc17

[2019-02-18 20:35] #115 closed

[2019-02-18 20:38] mcristaldo commented on #115
Oh ok, sorry for the late notice though. Thank you!
Martín Cristaldo UI/UX designer
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
www.mct.uy
Dribbble: m_cristaldo <https://dribbble.com/m_cristaldo>
Twitter: @m_cristaldo <https://twitter.com/m_cristaldo>
Instagram: mctuy <https://instagram.com/mctuy/>
Blog: @mcristaldo <https://medium.com/@mcristaldo>

El lun., 18 feb. 2019 a las 16:08, João Pimen

[2019-02-18 23:13] jfoclpf commented on #115
No problem :)

[2019-02-19 05:30] MobiTech1191 opened #118 "Disappearing the right-top button on main page"
When I load [the website](https://autocosts.info/US) for the first time, I can see `the right-top button` on page.

But after I refresh [the website](https://autocosts.info/US),`the right-top button` disappears.
I tried to double check this issue on Chrome, Firefox, and Safari.
The same issue happened on all browsers.

![true](https://user-images.githubusercontent.com/38475771/52992210-9a7cfd80-33

[2019-02-19 05:59] MobiTech1191 opened #119 "Printed JPEG file doesn't look like correct for "China", "Japan" location"
When I choose the country with **"China"** or **"Japan"**, printed image looks like wrong.
Please have a look at the following screenshots.

![screenshot_2](https://user-images.githubusercontent.com/38475771/52993260-7a4f3d80-33c8-11e9-82f4-99d978cec38c.png)
![screenshot_3](https://user-images.githubusercontent.com/38475771/52993261-7a4f3d80-33c8-11e9-8cba-5d44c4ca6066.png)
![screenshot_4](https:/

[2019-02-21 13:39] jfoclpf commented on #118
I think it's already working. Can you confirm?

[2019-02-21 13:40] MobiTech1191 commented on #118
Ok, let me check it again. Thanks

[2019-02-21 21:49] #118 closed

[2019-02-21 21:51] #116 closed

[2019-02-21 21:52] jfoclpf commented on #117
solved with 2515bb0935bc28bd85d348a8b6b135b554ae6449

[2019-02-21 21:52] #117 closed

[2019-02-22 10:05] jfoclpf commented on #112
Solved with 72a0d18e4b06cfd60f561fefcbae39fdb9d296f0

[2019-02-22 10:05] #112 closed

[2019-03-05 13:21] jfoclpf opened #120 "Implement jsdom for tests"
https://github.com/jsdom/jsdom
https://github.com/jcoglan/jsdom-example/blob/master/node_modules/jsdom/README.md

jsdom emulates the browser, but putting the site into a JS variable `dom`.

We can try then to click the button "calculate car costs" and fill in the form fields with values and then run the calculator.

[2019-03-06 13:09] jfoclpf opened #121 "Move sentence from text to button"
On the landing page and according to @mcristaldo suggestions, I shall move the text "Find the True Cost of your Car" to the button which has the text "Calcuate car costs". That is, the text "Calcuate car costs" should be replaced by "Find the True Cost of your Car", on the landing page.

[2019-03-10 22:43] jfoclpf opened #122 "Too many font sources"
Hi @mcristaldo
How do you do? Hope fine!

Do we need all these fonts?
https://github.com/jfoclpf/autocosts/blob/master/src/css/fonts.css

It's time to load, specially on the landing page.

Which fonts do we really need?

Furthermore I'm having a lot of css validating warnings on this file
`message: 'Redefinition of “font-family”',`

Thanks

[2019-03-11 13:42] jfoclpf commented on #122
Oh, now I see, you use different `unicode-range` segements

in https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range

And indeed it works, since the browser only downloads what is needed, as seen by Google Dev Console (downloads only 3 files and `fonts.css` declares 6 files)

![image](https://user-images.githubusercontent.com/3984909/54128125-ad0ab580-440b-11e9-9737-25cab1eade2

[2019-03-11 16:58] mcristaldo commented on #122
Hi Joao,

Actually I don't recall creating that font.css file. It's a Google font, so I only added this line to get the font working
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

But yeah as you mentioned it seems to use different unicode-range base on language

[2019-03-11 19:56] jfoclpf commented on #122
Hi @mcristaldo
Thanks

Yes, it is indeed just a warning and a pending issue within W3C
https://lists.w3.org/Archives/Public/www-style/2014Nov/0266.html

Cheers

[2019-03-11 19:56] #122 closed

[2019-03-12 00:39] jfoclpf commented on #121
@mcristaldo what do you think now?
https://autocostos.info/US

[2019-03-12 20:59] jfoclpf commented on #114
no need, we have already a very comprehensive building on `build.js` and `build/`

[2019-03-12 20:59] #114 closed

[2019-03-12 20:59] jfoclpf commented on #59
done it

[2019-03-12 20:59] #59 closed

[2019-03-14 14:09] jfoclpf opened #123 "Add blob to CSP"
Some version of Firefox are blocking blob

Add this to CSP

`object-src 'self' blob:`

[2019-03-14 14:10] jfoclpf commented on #123
https://stackoverflow.com/questions/28467789/content-security-policy-object-src-blob

[2019-03-14 14:10] #121 closed

[2019-03-14 21:05] jfoclpf commented on #123
solved with 8f0930fa9a0b97e91a7bbc9f9c7870b3fbfb1d31

[2019-03-14 21:05] #123 closed

[2019-03-14 21:59] jfoclpf commented on #105
solved by 8f0930fa9a0b97e91a7bbc9f9c7870b3fbfb1d31...a2e23205c0d582b13bebec5d09ece32a0f0ebb27

@mcristaldo please test it,
if the issue is still there, kindly reopen the issue

[2019-03-14 21:59] #105 closed

[2019-03-16 18:26] mcristaldo commented on #105
@jfoclpf
Yeah it works well. It would be nice if it opens up in a new tab though.

[2019-03-16 20:35] jfoclpf commented on #105
Thanks Martin for the feedback
It cannot open on the new tab, because the browser (sometimes Adblock)
blocks it.
It was previously like that, and that was the reason for not working

[2019-03-19 14:28] mcristaldo commented on #121
Hey Joao,
Looks good. Please keep me updated about how it works. I want to know if this tiny update change anything on the user behavior.
Btw, why I'm not able to see all the steps at once now?
https://www.dropbox.com/s/q8y2gifkbomqml8/Captura%20de%20pantalla%202019-03-19%2011.28.16.png?dl=0

[2019-03-19 19:57] jfoclpf commented on #121
Thanks. Yes I will keep you updated.

Regarding the steps, I realized that the number of people who finished the
form was decreasing sharply (the statistics take time to be fully updated
after the new design). I thought the users were being "scared" knowing they
had to fill so many steps.

What do you think Martin?

[2019-03-20 12:31] mcristaldo commented on #121
I see your point. But I don't see any advantage in hiding it though. I creates uncertainty on the user cause they don't know how many steps they will need to take. It can be perceptive as if you're cheating them, which is not something good.
If you agree I can work on a couple of possible solutions, I have some ideas that can help to improve the user experience and hopefully convert more. Just let

[2019-03-20 19:43] jfoclpf commented on #121
Thanks for the feedback Martin, and yes, go ahead. Think of some user
experience solution to improve this issue!

[2019-04-20 13:59] jfoclpf opened #124 "Remove headers on form"
Many users which open the form, exit it without filling not even the depreciation (first) section (abandon ratio of 36% on this particular step).

We should remove the headers (1-fixed costs, 2-variable costs) on the form because they do no not present so much relevant information and they provide much text right from the beginning, increasing entropy and complexity for user's eyes

That was @mcri

[2019-06-21 22:50] jfoclpf opened #125 "Deal with process.exit on server side"
[code]
The reason this is problematic is because writes to process.stdout in Node.js are sometimes asynchronous and may occur over multiple ticks of the Node.js event loop. Calling process.exit(), however, forces the process to exit before those additional writes to stdout can be performed.

Rather than calling process.exit() directly, the code should set the process.exitCode and allow the process

[2019-06-24 21:08] jfoclpf opened #126 "Add a manifest.json file"
Add a `/manifest.json` file at the root url. Check [here](https://developers.google.com/web/fundamentals/web-app-manifest/).

on html

    <link rel="manifest" href="/manifest.json">

manifest.json something like this

[code]

Just add it to public folder:
https://github.com/jfoclpf/autocosts/tree/master/src/public

[2019-07-10 21:02] jfoclpf opened #127 "Corrections on Romanian terms"
![image](https://user-images.githubusercontent.com/3984909/61004648-b7f83700-a366-11e9-978a-d4571b2ef9ef.png)

![image](https://user-images.githubusercontent.com/3984909/61004655-bc245480-a366-11e9-9ffa-c05b508b124b.png)

[2019-07-18 11:50] #127 closed

[2020-02-16 12:35] jfoclpf commented on #125
partially done, it's not that important

[2020-02-16 12:35] #125 closed

[2020-02-16 12:35] jfoclpf commented on #26
done it

[2020-02-16 12:35] #26 closed

[2020-02-16 12:38] jfoclpf commented on #124
done it
![image](https://user-images.githubusercontent.com/3984909/74604795-94962700-50c1-11ea-99fd-09af776ad14e.png)

[2020-02-16 12:38] #124 closed

[2020-02-18 10:44] jfoclpf opened #130 "Reorder world statistics chart"
When the user clicks on same data to filter out some items, the countries order should be reordered

![image](https://user-images.githubusercontent.com/3984909/74729019-101fe180-5244-11ea-99c5-98fc79d4bf1e.png)

[2020-02-19 16:07] jfoclpf opened #131 "Introduce externalities table"
On the results we should show the externalities costs table, at least for EU, considering the table of externalities per km given by the Handbook of TU Delft.

[2020-02-19 20:47] jfoclpf opened #132 "Your Sitemap or Sitemap index file does not properly declare the namespace."
From Google Search Console

![image](https://user-images.githubusercontent.com/3984909/74874660-5880f180-5361-11ea-8ff5-7ad96b912fa3.png)

[2020-02-22 22:08] jfoclpf commented on #120
remove test on client since the test suite is already very comprehensive and already tests client code; and the use of jsdom was becoming too cumbersome to operate since it did not simulate fully the behaviour of the browser

[2020-02-22 22:08] #120 closed

[2020-03-12 13:05] jfoclpf opened #133 "Res.status is not a function"
The pm2 log is giving the following error on bin/index.js

`res.status is not a function`

Apparently we just need to add `next` argument [here](https://github.com/jfoclpf/autocosts/blob/3509478a7764ee3662b5afeffc414150b426b11a/src/index.js#L229), please check:

https://github.com/visionmedia/supertest/issues/416#issuecomment-514508137

[2020-03-12 13:18] jfoclpf opened #134 "localhost on db credentials"
Change on `credentials/prodCredentials.json` the host to `localhost`.
Having the domain there, considering the db is being accessed from the same server, is giving some errors

[2020-03-19 00:23] jfoclpf commented on #126
too cumbersome, anyway I made a question on SO
https://stackoverflow.com/questions/60749236/the-simplest-service-worker-for-a-web-app-manifest

[2020-03-19 00:33] jfoclpf commented on #134
the problem I think is related by `prepareStats` as it tries to connect to db even before the db server is available. One should try to implement a timeout on db.connect and then try again

[2020-03-19 09:08] jfoclpf commented on #126
Check this example
https://github.com/januwA/web-app-manifest
It seems it's not that hard

[2020-03-19 22:10] jfoclpf commented on #126
The "add to home screen" is already present in browsers in Android

[2020-03-19 22:10] #126 closed

[2020-03-19 23:41] #133 closed

[2020-03-25 22:49] jfoclpf commented on #132
solved

![image](https://user-images.githubusercontent.com/3984909/77592807-4875a800-6ef3-11ea-8d3f-67c0d31dcbbd.png)

[2020-03-25 22:49] #132 closed

[2020-03-30 14:19] jfoclpf opened #136 "Rebooting issues on the server"
When the server is restarted/rebooted internet is not immediately accessible and services get disabled by default, and are not enabled later on

[code]

extracted from `pm2 logs`

[code]

[2020-03-30 14:20] jfoclpf commented on #134
it will be solved by #136

[2020-03-30 14:20] #134 closed

[2020-03-31 19:46] jfoclpf commented on #136
The commit 2b0153e54bb9eb0cf72853e55244235b5abe2e55 helped to solve the issue by attempting to connect to database every second until it is successfully, when the switch `database` is turned on

[2020-03-31 20:38] jfoclpf commented on #136
Therefore solved with 2b0153e and 30a6fb3

[2020-03-31 20:38] #136 closed

[2020-04-04 20:08] #130 closed

[2020-04-15 21:29] jfoclpf opened #137 "Add further icons for table JPG image and for world stats on the right corner"
![image](https://user-images.githubusercontent.com/3984909/79390450-febb3300-7f6f-11ea-845e-55190252e403.png)

Use icons of https://www.flaticon.com/ as @mcristaldo had already used such database for other icons

I should thus add 2 extra icons on the left side of the "download" icon

 - the download button should download directly the JPG image table
 - the table icon should forward to the tables

[2020-04-15 21:31] jfoclpf commented on #137
@mcristaldo can you just generate a "world icon" and a "table-like icon"?

[2020-04-17 09:18] jfoclpf opened #138 "Reactivate CSP"
It seems that the package that was triggering the CSP error [has been updated](https://github.com/foliojs/restructure/issues/28), check if the CSP is now working. Check with Google CSP Evaluator: https://csp-evaluator.withgoogle.com/

[2020-04-20 16:12] mcristaldo commented on #137
@jfoclpf Hi Joao,
I'm attaching the proposed solution.
I think it's important to label the icons here to make it clear what the actions would be once users click on it.
Please let me know your thoughts
![ac_average_modal-v2](https://user-images.githubusercontent.com/11855774/79773947-7db1c200-8308-11ea-8524-9667cffc7550.png)

[2020-04-20 21:17] jfoclpf commented on #137
Great Martin, thanks a lot

But I need two extra icons, for the tables as such

 - World stats: https://autocosts.info/stats (the world icon there is
great, thanks)
 - The Table as JPG Image: https://autocosts.info/tables/BO.jpg (missing
icon)
 - The Table as HTML: https://autocosts.info/tables/BO.htm (missing icon)

Remove the icon for download, cause I don't this it's fully appropriate

You're r

[2020-04-22 19:32] mcristaldo commented on #137
Hi Joao,

Here are the icons: https://www.dropbox.com/sh/ttlzkpmwd61hw7g/AAAjxT67YZHXtY8WwTzvxUtga?dl=0
In that folder you can find: globe, html and table icons in SVG format (same format used in the website)
If you need them in a different format please let me know

[2020-04-22 20:08] jfoclpf commented on #137
Great, thanks

[2020-04-28 11:59] jfoclpf commented on #137
I just add here the files for registering purposes

[logos.zip](https://github.com/jfoclpf/autocosts/files/4545538/logos.zip)

[2020-05-04 00:44] jfoclpf commented on #137
done it, thanks @mcristaldo

[2020-05-04 00:44] #137 closed

[2020-05-04 17:38] jfoclpf opened #140 "Correct Spanish words"
![0fbf939a-c531-43f5-aa2e-021c0629979d](https://user-images.githubusercontent.com/3984909/80995357-6d3c3400-8e3e-11ea-82ce-c2cb58b908ee.jpeg)

<br><br>

![3aa725af-e076-4310-ab66-558da0e447fd](https://user-images.githubusercontent.com/3984909/80995359-6dd4ca80-8e3e-11ea-8ef9-4f8d08789494.jpeg)

<br><br>

![c71de6e1-1b81-4565-8e82-4d3cf0a7b6ed](https://user-images.githubusercontent.com/3984909/8099

[2020-05-11 21:31] jfoclpf opened #141 "Change domain policy and url rules"
New domain policy shall be here:
https://github.com/jfoclpf/autocosts/wiki/Domain-name-policy

New url forward rules:
![flowchart url_selector autocosts](https://user-images.githubusercontent.com/3984909/81613773-528a3200-93df-11ea-86bf-851964b77ec4.png)

[2020-05-12 23:03] #141 closed

[2020-05-13 20:12] jfoclpf commented on #141
![flowchart url_selector autocosts](https://user-images.githubusercontent.com/3984909/81860264-cefb4d00-9566-11ea-84b1-ccfb3f29c8b9.png)

[2020-05-13 20:16] jfoclpf commented on #140
![image](https://user-images.githubusercontent.com/3984909/81860700-6496dc80-9567-11ea-9f4a-e97fb65aeeab.png)

[2020-05-16 10:42] #140 closed

[2020-05-16 10:43] jfoclpf commented on #140
solved with 6730369 and 09c300d

[2020-06-04 21:19] jfoclpf commented on #138
CSP nonce was reactivated, since the main issue contrary to what was referred was not in pdfmake but in jquery. Jquery updated its version and thus problem solved on the jquery side.

That is, the nonce was giving several problems with jQuery and backward compatibility, but since jQuery dealt with it fully correctly, in v 3.4.0, nonce should was then added again here, please see
https://github.com

[2020-06-04 21:21] #138 closed

[2020-06-06 17:14] jfoclpf opened #142 "Change term to "car" for UK version"
https://www.quora.com/Whats-the-difference-between-a-car-and-an-automobile

[2020-08-07 15:43] jfoclpf commented on #106
this problem appeared again

[2020-08-09 09:14] jfoclpf opened #146 "Reassure uber information is working"
![Screenshot from 2020-08-09 11-12-16](https://user-images.githubusercontent.com/3984909/89728945-6c183580-da31-11ea-81e6-eeafe7d3f0e1.png)

[2020-08-09 22:45] #106 closed

[2020-08-13 09:15] jfoclpf opened #147 "Automate browser testing"
This may be a good option
https://www.npmjs.com/package/selenium-webdriver

[2020-08-13 13:20] jfoclpf opened #148 "Check compatibility with some browsers version"
For example, the site does not work on Edge 44.

When using CSP v 3, also check browser version

[2020-08-14 21:09] #148 closed

[2020-08-14 21:11] jfoclpf commented on #142
solved

[2020-08-14 21:11] #142 closed

[2020-09-16 09:30] jfoclpf opened #150 "Swap title with short description on Google Entry page"
![image](https://user-images.githubusercontent.com/3984909/93319330-09743f80-f810-11ea-94a0-78ff476c29f3.png)

[2020-09-16 09:45] jfoclpf commented on #150
Check posted question on Google Forums
https://support.google.com/webmasters/thread/71443743?hl=en

[2021-07-14 14:24] jfoclpf opened #164 "restore html-validator from w3C and use async.retry"
restore html-validator test from w3C and use async.retry

this module is often giving errors due to internet connection problems. A good solution is to use `async.retry` with an interval between requests

[2021-07-15 15:09] jfoclpf opened #165 "remove libxmljs"
npm lib libxmljs is not being used, remove it as it is giving errors on windows test suite of github CI

[2021-07-15 15:12] jfoclpf commented on #165
btw, check which modules are unused with
https://www.npmjs.com/package/depcheck
https://www.npmjs.com/package/npm-check

[2021-07-15 15:13] jfoclpf commented on #164
done with 7432bdf05634ef6ed2a1099d68a8864c2b18d918

[2021-07-15 15:13] #164 closed

[2021-07-15 18:16] #150 closed

[2021-07-15 20:50] jfoclpf commented on #165
done it

[2021-07-15 20:50] #165 closed

[2021-07-16 12:28] jfoclpf opened #166 "imagemagick for compressing images is failing test on windows and macos"
try this module instead
https://www.npmjs.com/package/imagemagick-cli

If that doesn't work, simply skip that test on windows and macos
https://nodejs.org/api/os.html#os_os_type

[2021-07-17 08:55] #166 closed

[2022-05-21 11:58] #147 closed

[2022-05-21 12:00] jfoclpf opened #180 "Add donation popup after results are shown"
After 10 seconds the results are shown, popup request for donations with text:

This calculator is ad free, ....

[2022-05-23 14:55] jfoclpf opened #181 "TypeError: useragent.version.split is not a function"
This error is popping up several times in the error log
[code]